.space-a { padding: 2.5px 0; }
.space-b { padding: 5px 0; }
.space-c { padding: 7.5px 0; }
.space-d { padding: 10px 0; }
.space-e { padding: 15px 0; }
.space-f { padding: 20px 0; }
.para p+p { padding-top: 30px; }

/** font-family: 'Lato', sans-serif; **/

.hidden-over {overflow: hidden;}

.con-a { padding: 70px 0;}

a.anchor {display:inline-block;max-width:100%;text-decoration:none;}

.img-center img {margin-left:auto;margin-right:auto;max-width:100%;display:block;}

img.imgcenter {top: 0;bottom: 0;left: 0;right: 0;margin: auto;display: block;max-width: 100%;max-height: 100%;position: absolute;}

.hr-a {background-color: #e2e2e2;height:1px;border:none;margin:10px auto; max-width: 100%;}
.hr-b {background-color: #e73250;height:1px;border:none;margin:15px auto; max-width: 100%;}

.label-x1 {
	color:#596375;
}
.label-x2 {
	color:#596375;
}
.label-x3 {
	color:#596375;
}

.label-x2 .maditory {
	color:#e52344;
}
.form-control.input-a {
	color: #818e9e;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #eaedef;
	border: 1px solid #cbd1d8;
}
.form-control.input-b {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;
}
.form-control.input-c {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;
}

.form-control.input-a {height: 53px;}
.form-control.input-b {height: 48px;}
.form-control.input-c {height: 41px;}

.form-control.input-a:focus,
.form-control.input-b:focus{border: 1px solid #e52344;}

.form-control.textarea-a {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;

	height: 140px;
	resize: none;
}
.form-control.textarea-b {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;

	height: 70px;
	resize: none;
}

.select-a {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;
	padding-right: 40px;
	
}
.form-control.select-b,
.select-a {
	background-image: url('../../img/customer/select-vector.png');
	background-position: -webkit-calc(100% - 15px) center;
	background-position: -moz-calc(100% - 15px) center;
	background-position: -ms-calc(100% - 15px) center;
	background-position: -o-calc(100% - 15px) center;
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	cursor: pointer;
}
.select-a:active,
.select-a:focus {
	outline: 0 none;
	box-shadow: none;
}

.form-control.select-b {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;
	padding-right: 40px;
	height: 39px;	
	display: block;
}

.form-control.select-c {
	color: #596375;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 0 2px #d7d8d8;
	border: 1px solid #d7d8d8;
	
	padding-right: 40px;
	height: 41px;	
	display: block;
}
.select-c {
	background-image: url('../../img/customer/select-vector-1.png');
	background-position: -webkit-calc(100% - 15px) center;
	background-position: -moz-calc(100% - 15px) center;
	background-position: -ms-calc(100% - 15px) center;
	background-position: -o-calc(100% - 15px) center;
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	cursor: pointer;
}
.select-c:active,
.select-c:focus {
	outline: 0 none;
	box-shadow: none;
}

.form-group.goup-x1 {
	margin-bottom: 25px;
}

.btn-x .btn-a,
.btn-x .btn-b,
.btn-x .btn-c{	
	text-decoration: none;
	display: inline-block;
	
	-ms-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn-x .btn-a {
	padding: 7px 30px;
	color: #ffffff;   
	background-color: #e73250;
	border: 2px solid #e73250;
	border-radius: 50px;
}
.btn-x .btn-b {
	padding: 8px 30px;
	color: #e73250; 
	background-color: transparent;
	border: 2px solid #e73250;
	border-radius: 50px;
}
.btn-x .btn-c {
	padding: 3px 15px;
	color: #ffffff;
	background-color: #37c473;
	border: 2px solid #37c473;
	border-radius: 50px;
	height: 36px;
	text-align: center;
}
.btn-x .btn-d {
	padding: 5px 15px;
	color: #596375; 
	background-color: #e5e6e8;
	border: 1px solid #e5e6e8;
	text-align: center;
}

.btn-x .btn-e {
	padding: 5px 12px;
	color: #ffffff; 
	background-color: #e73250;
	border: 1px solid #e73250;
	text-align: center;
	border-radius: 5px;
}
.btn-x .btn-e:hover {
	color: #e73250;   
	background-color: transparent;
	border: 1px solid #e73250;
}

.btn-x .btn-f {
    border: 1px solid #e73250;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    text-transform: uppercase;
}
.btn-x .btn-f:hover {
	color: #e73250;   
	background-color: transparent;
	border: 1px solid #e73250;
}

.btn-x .btn-g {
	padding: 7px 12px;
	color: #ffffff; 
	background-color: #e73250;
	border: 1px solid #e73250;
	text-align: center;
	border-radius: 5px;
	width: 100%;
}
.btn-x .btn-g:hover {
	color: #e73250;   
	background-color: transparent;
	border: 1px solid #e73250;
}

.btn-x .btn-a:focus,
.btn-x .btn-a:active,
.btn-x .btn-a:hover {  
	color: #e73250; 
	background-color: transparent;
	border: 2px solid #e73250;
	outline: 0 none;
}
.btn-x .btn-b:focus,
.btn-x .btn-b:active,
.btn-x .btn-b:hover {  
	color: #ffffff;   
	background-color: #e73250;
	border: 2px solid #e73250;
	outline: 0 none;
}
.btn-x .btn-c:focus,
.btn-x .btn-c:active,
.btn-x .btn-c:hover {  
	color: #37c473;   
	background-color: transparent;
	border: 2px solid #37c473;
	outline: 0 none;
}

.min-250 { min-width: 160px; }

.one-can::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	border-radius: 10px;
	background-color: transparent;
}

.one-can::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.one-can::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: none;
	background-color: #f1f1f1;
}

/* */
.two-can::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	border-radius: 10px;
	background-color: transparent;
}

.two-can::-webkit-scrollbar
{
	width: 5px;height: 6px;
	background-color: transparent;
}

.two-can::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: none;
	background-color: #b5b5b5;
}
