@media (min-width: 1420px) {
  .img-status .drafted_img {
    height: 200px;
  }
  .add_profordesign a.pro-box-s1,
  .add_profordesign .pro-box-s1 {
    min-height: 270px;
    line-height: 230px;
  }
}
@media (min-width: 1200px) {
  .orbxb-img-xx3s {
    max-height: 650px;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 992px) {
  /** Top Menu **/
  .flex-show {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .nav-section .navbar-default .navbar-collapse {
    width: 100%;
    flex: 1;
  }
  .nav-section .navbar-default .navbar-collapse .navbar-right {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
  }

  .nav-section .navbar-default .navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .plan-boxex-xx6 {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .flex-reverse {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    flex-direction: row-reverse;
  }
  .flex-show-em1,
  .flex-verse {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .orb-xb {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-direction: row-reverse;
  }

  .nav-section .navbar-default.centered .navbar-collapse {
    text-align: center;
  }

  .pro-ject-leftbar {
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 0;
    width: 110px;
    overflow-y: auto;
    height: calc(100vh - 70px);
    z-index: 9999;
    background: #fff;
  }
  /*  .orbxbin-list {
    padding-bottom: 30px;
  }*/
  .pro-ject-leftbar .orb-xbin .orbxbin-list {
    padding-bottom: 0px;
  }
  .orbxb-img-ssrr {
    margin-left: 50px;
    margin-right: 50px;
  }

  .col-w1 {
    width: 25%;
  }
  .pro-desh-box .pro-circle-list.pad-w1 {
    padding-left: 60px;
  }
  .dcol-3 {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .nav-section .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-section .navbar-nav > li:last-child {
    margin-right: 0;
  }

  .flex-show-a {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .list-setting {
    display: inline-block;
    white-space: nowrap;
  }

  .uplinkflexs .row {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .sidebar-in .pro-ject-rightbar {
    position: relative;
    right: 0;
    top: 0;
    opacity: 1;
    margin-right: 0px;
    max-width: 345px;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1099px) {
  .allsub_folder ul.diffrent-pattrn > li,
  .diffrent-pattrn .inner_structure > li,
  .inner_data_additional_upload > li,
  .inner_data_logo_upload > li,
  ul.all_request_files .inner_structure > div > li {
    background: #fff;
    display: inline-block;
    width: 31%;
    margin: 1%;
    height: 200px;
    float: left;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wizard_add_request {
    padding: 0 20px;
  }
  .wizard_add_request > .container {
    width: 100%;
  }
  .requests_files ul.all_request_file li h2 {
    font-size: 14px;
  }
  .show_all_folders .main_folders {
    min-width: 220px;
  }
  .show_all_folders .allsub_folder {
    max-width: 70%;
  }
  div#file_manage_list {
    height: auto;
  }
  .allsub_folder ul.diffrent-pattrn > li,
  .diffrent-pattrn .inner_structure > li,
  .inner_data_additional_upload > li,
  .inner_data_logo_upload > li,
  ul.all_request_files .inner_structure > div > li {
    width: 48%;
  }
  .allsub_folder .search_col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 15px;
  }
  ul.same-pattrn > li {
    flex: 0 0 50%;
    max-width: calc(50% - 20px);
  }
  .upload-gallery .search-container .select-search > * {
    margin: 0 4px;
  }
  .upload-gallery .search-container .select-search button.serach_btn {
    padding: 0 30px;
  }
  .upload-gallery ul.thumbnil-img:empty {
    height: 230px;
  }
  .upload-gallery {
    padding: 0 !important;
  }
  .upload-gallery .modal-dialog {
    padding: 15px;
    max-width: 700px;
  }
  .upload-gallery ul.thumbnil-img li {
    width: 16.9%;
  }
  .uploadAnDsave button {
    padding: 10px 20px;
    min-width: 115px;
    font-size: 13px;
  }
  .content_Container span.custom_error {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1200px) {
  .focusout-search-box .search-box {
    left: auto !important;
  }
  label.form-group .label-txt {
    letter-spacing: 0px;
    font-weight: 500;
  }
}
@media (max-width: 1024px) {
  .pro-ject-rightbar {
    width: 270px;
  }
}

@media only screen and (max-width: 992px) {
  .secondappnd {
    margin-top: 35px;
  }
  .colors-row.rightcolclass {
    width: 100%;
    margin-top: 35px;
  }
  .add_new_request .drop-file {
    margin-bottom: 30px;
  }
  .spaceforpass.error_msg {
    position: static;
  }
  .project-info-page .content_section {
    padding: 30px 35px 30px 30px;
  }
  .designdraft-views .goup-x1 {
    width: 100%;
    margin: 0px 0px 2%;
  }
  .header-blog .brand_search {
    float: none !important;
  }
  .focusout-search-box .search-box {
    top: 0;
    max-width: 400px !important;
    margin: 0;
  }
  body #content .post .entry-content {
    float: none;
    margin: 0 7.6923%;
    width: auto;
  }

  /**********/
  .nav-section .navbar-header {
    float: none;
    display: inline-block;
  }
  .nav-section .navbar-left,
  .nav-section .navbar-right {
    float: none !important;
  }
  .nav-section .navbar-toggle {
    display: block;
  }
  .nav-section .navbar-collapse {
    border-top: 0 solid transparent;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
    clear: both;
  }
  .nav-section .navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
  }
  .nav-section .navbar-collapse.collapse {
    display: none !important;
    clear: both;
  }
  .nav-section .navbar-nav {
    float: none !important;
  }
  .nav-section .navbar-nav > li {
    float: none;
  }

  .nav-section .navbar-default .navbar-toggle {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .nav-section .navbar-default.sticky {
    padding: 5px 15px;
  }

  /** **/
  a.custom-logo-link {
    text-align: center;
  }
  a.custom-logo-link {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .search-box {
    margin-top: 15px;
  }

  .custom-flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }
  .nav-section .navbar-header a.custom-logo-link img {
    max-width: 100% !important;
  }
  .pro-desh-box {
    width: 100% !important;
  }
  .pro-desh-row,
  .pro-desh-box {
    display: block;
  }
  .dcol-1,
  .dcol-2 {
    width: 100%;
  }
  .pro-desh-box {
    border-bottom: 1px solid #d2d2d2;
    border-right: none;
  }
  .pro-desh-box:last-child {
    border-bottom: none;
  }

  .settingedit-box {
    margin-bottom: 15px;
    min-height: auto;
  }

  .flex-show-em {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .project-row-qq1 {
    margin-bottom: 20px;
  }

  .orb-xb-col.left {
    width: 100%;
  }
  .orb-xbin {
    overflow-x: auto;
    max-width: 100%;
    min-width: 100%;

    max-height: none;
    min-height: auto;
  }
  .imgobxbins {
    width: 105px;
  }
  .orbxbin-list li {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .box-setting {
    text-align: center;
    position: absolute;
    right: 15px;
    top: 6px;
  }
  .nav-section .navbar-header {
    padding-right: 8px;
  }
  .seter.left,
  .cli-ent-xbox.text-left {
    text-align: center;
  }
  .cli-ent-row.tr {
    display: block;
  }
  .cli-ent-col.td {
    display: block;
    vertical-align: middle;
    width: 100% !important;
  }
  .header_popup .upgrade-list {
    float: left !important;
  }
  .edit-profile-sec .container {
    width: 100%;
  }
  li.for_agency_user.stayhere {
    margin-top: 20px;
  }
  .managment-list ul {
    flex-direction: column;
  }
  div#sub-userlist .managment-list li {
    display: inline-block;
    margin: 4px 0;
    border-right: 0;
    padding: 0;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  div#sub-userlist .managment-list li img {
    margin: auto;
  }
  div#management .switch-custom-usersetting-check.activate-user {
    width: auto;
  }
  div#management .switch-custom-usersetting-check.activate-user span {
    margin-left: 4px;
  }
  div#button_theme .neft span {
    margin-bottom: 30px;
  }
  .mobile-visibles {
    right: 0;
    top: -3px;
  }
  .step-row h3::before {
    width: 70%;
  }
  .product-list-show.clint_subs .cli-ent-row {
    flex-direction: column;
    position: relative;
  }
  .product-list-show.clint_subs .cli-ent-col.td {
    justify-content: center;
  }
  .cli-ent-row.tr.tableHead {
    display: none;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .managment-list table {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    padding: 0 10px;
  }
  .managment-list table td img {
    height: 40px;
    width: 40px;
  }
  .managment-list table tr td {
    padding: 12px;
  }
}
@media (max-width: 800px) {
  .report-sec .analytic-box {
    margin-bottom: 15px;
  }
  .managment-list table {
    margin-top: 0;
  }
  .managment-list table tr td.action {
    border: none !important;
    padding-bottom: 0 !important;
  }
  .managment-list table tr td {
    padding: 15px 0px !important;
    max-width: 100% !important;
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .welcome_step_ouetr .form-control {
    margin: 0;
  }
  .welcome_step_ouetr .company_name_input input.form-control {
    height: 46px;
    margin: 0;
  }
  .welcome_step_ouetr .custom-select {
    line-height: 40px;
  }
  .welcome_step_ouetr .custom-select .select-selected,
  .welcome_step_ouetr .describe-sec dl.dropdown {
    font-size: 13px;
  }
  .welcome_step_ouetr .form-control {
    height: 40px;
  }
  .welcome_step_ouetr .form-group label {
    font-size: 13px;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-top: 10px;
  }
  .welcome_profile_pic {
    height: 100px;
    width: 100px;
  }
  .welcome_profile_pic .setimg-box33 span.change_profile_image {
    letter-spacing: 0;
  }
  .welcome_header {
    padding: 0;
  }
  .wel_wiz_logo img {
    width: 150px;
  }
  h2.welcome_heading {
    font-size: 16px;
    letter-spacing: 0;
  }
  .welcome_step_ouetr .form-group {
    margin-bottom: 10px;
  }
  .welcome_to_head {
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 15px;
    line-height: normal;
  }
  .feed_wrapper {
    right: 0;
  }
  .feed_card form .emojisec p {
    font-size: 13px;
    margin-bottom: 2px;
  }
  .feed_card .feed_title {
    margin-bottom: 0;
  }
  /*************add new rqst wizard **************/
  .search_wiz_stock {
    text-align: center;
    background: #f1f1f1;
    padding: 15px;
  }
  .wiz_upload_file input.form-control {
    top: 0;
  }
  .wiz_upload_file img {
    width: 30px;
  }
  .wiz_upload_file {
    padding: 15px 0;
  }
  .wiz_upload_file strong {
    font-weight: 400;
    margin: 10px 0;
    font-size: 13px;
  }
  .wiz_upload_file span {
    font-size: 12px;
  }
  .search_wiz_stock button {
    height: 40px;
    width: 100%;
    background: #fff;
  }
  .search_wiz_stock input.form-control {
    width: 100%;
    margin: 0 0 10px;
  }
  .additional_wiz .switch-custom-usersetting-check {
    margin: 0;
  }
  .inpt_wrappr textarea {
    height: 65px !important;
    font-size: 13px;
  }
  h2.wiz_heading span {
    font-size: 13px;
    margin-left: 0;
    display: block;
  }
  span.answer_toggle {
    font-size: 14px;
    margin-left: 4px;
  }
  .wiz_prefrence label {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .inpt_wrappr label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .app_info > .row .row {
    margin: 0;
  }
  .wiz_pref_check label {
    font-size: 14px;
  }
  .wiz_step_btn {
    margin: 10px;
  }
  .wiz_pref_check label .wiz_checkmark,
  .wiz_prefrence label span::before {
    margin-right: 6px;
  }
  .wiz_prefrence,
  .wiz_pref_check {
    margin-top: 10px;
  }
  .sub_catg_img {
    height: auto;
    padding: 10px 0;
    margin: auto;
  }
  .sub_catg_img img {
    width: 45px;
  }
  .subcat_div label {
    text-align: center;
  }
  .wizard_sub_catg {
    height: auto;
    margin-bottom: 15px;
  }
  .sub_exp {
    font-size: 11px;
  }
  .sub_catg_img span {
    font-size: 11px;
    text-transform: capitalize;
    padding: 0 4px;
    line-height: 11px;
    min-height: 22px;
  }
  .add_right_wizard fieldset > h3 {
    font-size: 16px;
    padding: 20px 0;
  }
  .add_right_wizard {
    padding: 0 15px 30px;
  }
  .add_right_wizard .form-group > label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .add_right_wizard .form-group {
    margin-bottom: 15px;
  }
  .add_right_wizard fieldset {
    min-height: auto;
  }
  .add_right_wizard .form-group .form-control {
    height: 40px;
  }
  .add_step_count span {
    display: none;
  }
  .add_step_icon {
    background: #f7f7f7;
    z-index: 9;
  }
  .add_step_count::after {
    height: 1px;
    width: 100%;
    position: absolute;
    right: -50%;
    top: 1px;
  }
  .add_step_count {
    flex: 1;
  }
  .add_wizard_body > div {
    display: block;
  }
  .add_left_wizard {
    padding: 20px 0;
    display: flex;
  }
  .add_wizard_head {
    padding-top: 30px;
    padding: 20px 15px 0;
  }
  /*************add new rqst wizard **************/

  .content-edition {
    padding: 20px;
  }
  .change_logo.dp img {
    max-width: 150px;
  }
  .change_logo.dp {
    margin-right: 0;
  }
  .sub-userlist .no_found {
    flex-direction: column;
    height: auto;
  }
  .no_found .conct_btn {
    margin-top: 15px;
  }
  .sampleexist h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .catg-sample-list .owl-nav {
    margin: -15px 0 0;
    text-align: center;
  }
  .catg-sample-list .owl-nav div {
    position: unset;
    display: inline-block;
    margin: auto 9px !important;
  }
  form#personal_form_data label.form-group {
    margin-bottom: 25px;
  }
  .catg-sample-list .owl-nav > div::before {
    font-size: 36px;
  }
  section.con-b .header-blog {
    width: 100%;
  }
  form#subscrptn_frm .white-boundries > div,
  .permiss-outer > div {
    padding-left: 0;
    padding-right: 0;
  }
  .permiss-outer h2.main-info-heading {
    padding: 0;
  }
  .fadd_subs {
    padding: 0;
  }
  .client-edition .detailed-item {
    margin-bottom: 25px;
  }
  .client-edition .detailed-item ul {
    flex-direction: column;
  }
  .client-edition .detailed-item ul li {
    max-width: 100%;
  }
  .notify-lines {
    margin-bottom: 15px;
  }
  .client-edition figure {
    width: 70px;
    height: 70px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .main-discp {
    text-align: center;
  }
  .client-edition .client-profile {
    flex-direction: column;
  }
  .white-boundries {
    padding: 15px !important;
  }
  .setting_agency .display-info {
    margin-bottom: 35px;
  }
  div#client_management .sub-userlist .report-sec {
    margin-top: 4px;
  }
  .mb-t30 {
    display: inline-block;
    width: 100%;
    margin-top: 15px !important;
  }
  .header-blog {
    display: inline-block;
    margin-top: 25px !important;
  }
  .mobile_menu_mngmnt {
    margin: 0;
    display: inline-block;
    float: right;
  }
  .mobile_menu_mngmnt > div {
    padding: 0;
  }
  .mobile_menu_mngmnt .tab-toggle {
    justify-content: flex-end;
  }
  .mobile_menu_mngmnt ul.list-header-blog {
    text-align: right;
  }

  .list-flex .pro-productss .pro-box-r2 {
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .list-flex .pro-productss .pro-box-r2 h2 {
    font-size: 12px;
    border: none;
    color: grey;
    padding: 5px 0;
  }
  .list-flex .pro-productss .pro-box-r2 {
    padding: 10px;
  }
  .list-flex h3 {
    font-size: 12px;
  }
  .list-flex .pro-productss .pro-box-r2 p.pro-a {
    font-size: 12px;
    letter-spacing: 0;
  }
  .list-flex .pro-productss .img-status {
    min-width: 120px;
    max-width: 120px;
  }
  .folders_body .title {
    flex: inherit;
  }
  a#load_more {
    font-size: 14px;
    padding: 10px;
  }
  .ad_new_reqz input {
    font-size: 14px;
  }
  .header-blog .brand_search select.chosen-select {
    margin: 0;
    background: #fff !important;
    font-size: 14px;
    font-weight: 500;
    border: none;
    height: 33px;
  }
  .show_all_folders .main_folders .heading-header {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
  }
  .testemail_section form {
    padding: 0;
  }
  ul.all_request_files.diffrent-pattrn {
    margin-bottom: 20px;
  }
  .allsub_folder {
    margin-top: 20px;
    background: #fff;
    box-shadow: 0px 2px 18px -13px #7b7b7b;
    padding: 20px !important;
  }
  .upload-gallery .thumbnil-img li.selected-li i.checkmark_pop {
    font-size: 12px;
  }
  .upload-gallery .thumbnil-img li::before {
    border: 2px solid #db203d;
    left: 0;
  }
  .left-up-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .left-up-btn form#uploadForm {
    display: inline-block;
  }
  .uploadAnDsave button {
    padding: 10px;
    margin: 3px;
    min-width: auto;
    height: auto;
    font-size: 13px;
  }
  .form-radion2 {
    margin: 10px 10px 3px 0;
  }
  .form-radion2 .containerr .checkmark:after {
    left: 6px;
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0;
  }
  .form-radion2 .checkmark {
    height: 16px;
    width: 16px;
  }
  .customer_designer_directory a {
    font-size: 14px;
    padding: 6px 15px;
  }
  .show_all_folders .dropdown .creat_btn_cst {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .show_all_folders .main_folders h3.title img {
    width: 48px;
    margin-right: 0;
  }
  .show_all_folders .main_folders {
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 18px -13px #7b7b7b;
    background: #fff;
  }
  .show_all_folders {
    display: block;
    height: auto;
  }
  .attached-files {
    padding: 20px;
  }
  .form-radion2 .containerr {
    padding-left: 24px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: normal;
  }
  .nav-section .navbar-header {
    border: none;
  }
  .catagry-heading h3,
  .attached-files h3 {
    font-size: 14px;
  }
  .sound-signal label.form-group {
    width: 100%;
    margin-left: 0;
  }
  section.con-b .header-blog {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .brand_search .chosen-container {
    text-align: left;
  }
  .brand_search .chosen-container a.chosen-single > div {
    float: right;
  }
  .nav-section {
    height: auto;
  }
  .nav-section .navbar-default {
    display: flex;
    align-items: center;
  }
  .nav-section .navbar-header a.custom-logo-link {
    width: 144px;
  }

  .nav-section .navbar-header a.custom-logo-link img {
    object-fit: contain;
  }
  .list-setting > li a i.icon-gz_bell_icon,
  .list-setting > li a i.icon-gz_message_icon {
    font-size: 20px;
  }
  .client-prfl span {
    margin-top: 5px;
  }
  .client-prfl .pro-circle-img-xxs {
    width: 40px;
    height: 40px;
  }

  .allsub_folder ul.diffrent-pattrn > li,
  .diffrent-pattrn .inner_structure > li,
  .inner_data_additional_upload > li,
  .inner_data_logo_upload > li,
  ul.all_request_files .inner_structure > div > li {
    width: 48%;
  }
  .show_all_folders .creat_btn_css {
    max-width: 241px;
    left: 0;
    right: 0;
    margin: auto;
  }
  ul.same-pattrn > li {
    flex: 0 0 50%;
    max-width: calc(50% - 10px);
    margin-left: 0;
  }
  div#file_manage_list {
    height: auto;
    min-height: auto;
    max-height: initial;
    background: transparent;
    box-shadow: none;
  }
  .section_title_header .title h3 {
    font-size: 15px;
  }
  .folder_bradcromb {
    margin-bottom: 10px;
  }
  .section_title_header {
    padding: 0;
    margin-bottom: 0px;
  }
  .allsub_folder .search_col {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .overflow_control {
    padding: 0px 15px;
  }
  .file_header {
    padding: 0;
    padding-bottom: 0;
  }
  .main_folders .customer_designer_directory {
    padding-top: 0;
  }
  .show_all_folders .main_folders h3.title {
    font-size: 18px;
    margin: 10px 0;
  }
  .upload-gallery .modal-dialog {
    max-width: 493px;
  }
  .upload-gallery .search-container {
    padding: 0 15px;
  }
  .upload-gallery {
    padding: 0 !important;
  }
  .upload-gallery .search-container .select-search {
    max-width: 420px;
    margin: auto;
  }
  .search-container ul#image_gallery {
    margin: auto !important;
    max-width: 420px;
    text-align: center;
    display: block;
  }
  .upload-gallery ul.thumbnil-img li {
    vertical-align: middle;
    margin: 5px 0;
  }
  .loader_button {
    margin-bottom: 20px;
  }
  .upload-gallery ul.thumbnil-img:empty {
    height: 60px;
  }
  .upload-gallery .modal-dialog {
    padding: 15px;
  }
  .upload-gallery .modal-content .modal-header {
    padding: 15px;
  }
  .upload-gallery .modal-body,
  .upload-gallery .modal-body .col-lg-12 {
    padding: 0;
  }
  .upload-gallery .select-search {
    display: block;
  }
  .upload-gallery .search-container .select-search > * {
    margin: 15px 0;
  }
  .upload-gallery .search-container .select-search button.serach_btn {
    width: 100%;
  }
  .upload-gallery .search-container .select-search select {
    max-width: 100%;
  }
  .upload-gallery .search-container .select-search .img-search {
    width: 100%;
  }

  .step-row {
    margin: 35px 0 20px;
  }
  .catagry-heading h3 span {
    font-size: 13px;
    margin-left: 0;
    display: block;
    margin-top: 5px;
  }
  .colors-row {
    display: block;
  }
  .catagory-right,
  .color-combination,
  .drop-file {
    padding: 20px;
  }
  .step-row h3 {
    font-size: 20px;
  }
  .alternate-domain {
    align-items: normal;
    width: 100%;
    flex-direction: column;
  }
  .domain_nm,
  .subdomain_nm {
    width: 100%;
  }
  .upgrdpopup_ontop.project_info_popup_up {
    margin-right: 0;
  }
  .project-info-page .side_bar {
    position: unset;
    width: 100%;
    height: 100%;
    float: left;
    width: 100%;
    padding-top: 0;
    margin-bottom: 20px;
    padding: 0 25px;
  }
  .project-info-page .content_section {
    width: 100%;
    padding: 25px;
  }
  .list-designdraftnew li {
    width: 100%;
  }
  section.project-info-page ul.list-header-blog {
    display: block;
  }
  section.con-b ul.list-header-blog li,
  section.project-info-page ul.list-header-blog li {
    display: inline-block;
  }
  section.con-b ul.list-header-blog li a {
    border-right: 1px solid #ccc;
  }

  .managment-list li {
    border-right: 0;
    padding: 0;
    margin: 10px 0;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .managment-list .three-icon {
    justify-content: space-between;
  }
  ul.list-header-blog {
    display: none;
  }
  ul.list-header-blog li {
    display: block;
  }
  ul.list-header-blog li a {
    border-right: 0;
  }
  .sidebar_style li a {
    border-right: 0 !important;
  }
  .pro-ject-wrapper.dot-comment {
    display: block !important;
  }
  .list-header-blog > li a {
    font-size: 13px;
    line-height: 25px;
    padding: 8px;
    margin: 0;
  }
  .ddnos.mobile .descol.right-instbox {
    margin-top: 5px;
    text-align: left;
  }
  .head-b {
    font-size: 18px;
    line-height: 25px;
  }
  .review-textcolww {
    font-size: 16px;
  }
  .flex-show-em1 .fulmoble {
    width: 100%;
  }
  .search-sec-uu8,
  .flex-show-em1 .fulmoble .descol {
    text-align: center;
  }
  .flex-show-em1 .fulmoble + .fulmoble {
    margin-top: 10px;
  }

  .list-tab-xx5 {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .list-tab-xx5 > li {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .list-tab-xx5 > li a {
    display: inline-block;
  }
  .radio-box-xx2 {
    max-width: 100%;
  }
  .radio-box-xx2 + .radio-box-xx2 {
    margin-left: 0;
  }
  .cat-form-xx123 .radio-box-kk2 {
    white-space: normal;
  }
  .right-lesscol .plan-boxex-xx6 .radio-box-xx2 {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .uplinkflexs .row > .col-xs-6,
  .uplinkflexs .row > .col-xs-4 {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }

  .savecols-col.right,
  .savecols-col.center {
    text-align: left;
  }
  .cat-form-xx123 {
    margin-top: 15px;
  }
  .uplink-row .uplink-col {
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }
  .uplink-row .uplink-col.right {
    text-align: left;
  }
  .pro-ject-rightbar {
    position: relative;
    width: 100%;
    opacity: 1 !important;
    margin: 0 !important;
  }
  .pro-ject-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .list-comment-es {
    max-height: 350px;
  }

  .pro-ject-leftbar,
  .pro-ject-rightbar {
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 0 15px;
  }

  .pro-ject-centbar {
    overflow: hidden;
    margin: 30px 0 15px;
  }

  .pro-ject-rightbar .comment-box-row {
    padding: 15px 0 45px;
  }
  .pro-ject-top-cat {
    margin-left: 0;
    margin-right: 0;
  }

  .de-signdraft {
    padding-bottom: 15px;
    padding-top: 7px;
  }
  .de-signdraft .savecols-col.left {
    text-align: center;
  }
  li.for_agency_user.stayhere {
    float: none;
    margin-top: 0;
    max-width: 210px;
  }
  div#management .managment-list li {
    display: inline-block;
    text-align: center;
  }
  div#management .managment-list li img {
    margin: auto;
  }
  div#management .managment-list .action a {
    margin: 0 7px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .header-blog .flex-show .text-right {
    text-align: left;
  }
  .header-blog .list-unstyled.list-header-blog {
    margin-bottom: 15px;
  }
  .con-b .header-blog .brand_search {
    display: inline-block;
    max-width: initial;
    width: auto;
    vertical-align: middle;
  }
  .header-blog .brand_search select {
    font-size: 12px !important;
  }
}
@media (max-width: 600px) {
  ul.same-pattrn > li {
    width: 100%;
    margin: 2% 0;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .desh-inblock {
    display: block;
  }
  .desh-inblock + .desh-inblock {
    margin-top: 15px;
  }
  .pro-box-r2 .pro-head {
    height: auto;
  }
  .pro-box-r2 {
    min-height: auto;
  }
  .pro-box-r1 {
    min-height: auto;
  }
  .pro-box-s1 {
    min-height: 150px;
    line-height: 150px;
  }
  .list-designdraftnew li {
    width: 100%;
  }
  .head-b {
    font-size: 16px;
  }
  .srd-row.mobile {
    display: block;
  }
  .srd-row.mobile .srd-col.right {
    margin-top: 10px;
    text-align: left;
  }
  .list-setting > li {
    margin-left: 15px;
  }

  .search-group .form-control {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .allsub_folder ul.diffrent-pattrn > li,
  .diffrent-pattrn .inner_structure > li,
  .inner_data_additional_upload > li,
  .inner_data_logo_upload > li,
  ul.all_request_files .inner_structure > div > li {
    width: 100%;
    margin: 0 0 30px;
  }
  .nav-section .navbar-header a.custom-logo-link {
    width: 82px;
  }
  a.login-droup {
    padding-left: 8px;
  }
  .brand_search .chosen-container a.chosen-single {
    padding: 6px 8px;
    line-height: 25px;
    background: #fff;
  }
  .search-container ul#image_gallery {
    max-width: 320px;
    display: block;
  }
  .upload-gallery ul.thumbnil-img li {
    width: 46%;
  }
  .search-first .search-box {
    margin-top: 14px !important;
  }
  .right-ins-edit {
    position: static;
    float: right;
    margin-bottom: 20px;
  }

  section.con-b ul.list-header-blog li {
    width: 49%;
    text-align: center;
  }
  section.con-b ul.list-header-blog li a {
    border-right: 0;
    background: #fff;
    width: 100%;
    margin: 4px 0;
    padding: 6px;
  }
  .search-first {
    margin-top: -60px;
  }
  .header-blog .brand_search select.chosen-select {
    width: 100%;
    padding: 6px;
    height: auto !important;
  }
  .header-blog .brand_search {
    margin-top: 5px;
    max-width: 100% !important;
  }
  section.con-b .header-blog .list-grid {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
  }
  .focusout-search-box .search-box {
    top: auto !important;
  }
  .header-blog .focusout-search-box .search-box.magic_search {
    max-width: 272px !important;
  }
  .headerWithBtn .addPlusbtn {
    position: static;
    margin-bottom: 20px;
  }
  .box-setting {
    right: 0;
  }
  .box-setting ul#right_nav > li {
    display: inline-block;
  }
  .list-header-blog > li {
    margin-right: 0;
    display: block;
  }
  .yss1 .settcol.left,
  .cyclebox25 .settcol.left {
    width: 100%;
    display: block;
  }
  .yss1 .settcol,
  .cyclebox25 .settcol {
    display: block;
    text-align: left;
  }
  .cyclebox25 .settcol {
    margin-top: 7px;
  }
  .review-textcolww {
    font-size: 14px;
  }

  .posone1,
  .posone2 {
    display: none;
  }
  ul#right_nav li a .client-ndtl {
    display: none;
  }
  ul#right_nav > li:nth-child(2) .dropdown-menu,
  ul#right_nav > li:nth-child(1) .dropdown-menu {
    left: auto;
    right: -113px;
    min-width: auto;
  }
}
@media (max-width: 420px) {
  div#prior_data > div {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .check-main-xx3 {
    min-height: 130px;
  }
  .nav-section .navbar-default .navbar-toggle {
    margin: 0 10px 0 0;
  }
}

/*******************/
.upload-gallery .search-container .select-search input,
.upload-gallery .search-container .select-search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div#f_uploadfiles_custom .modal-content {
  top: 50%;
  transform: translateY(-50%);
  width: 93%;
  left: 0;
  right: 0;
  margin: auto;
}
