
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/gz_icons/icomoon.eot?kp4gty');
  src:  url('../../fonts/gz_icons/icomoon.eot?kp4gty#iefix') format('embedded-opentype'),
    url('../../fonts/gz_icons/icomoon.ttf?kp4gty') format('truetype'),
    url('../../fonts/gz_icons/icomoon.woff?kp4gty') format('woff'),
    url('../../fonts/gz_icons/icomoon.svg?kp4gty#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gz_add_project .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-gz_add_project .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-gz_add_project .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(15, 49, 72);
}
.icon-gz_back_icon:before {
  content: "\e903";
}
.icon-gz_bell_icon:before {
  content: "\e904";
}
.icon-gz_brand_profile:before {
  content: "\e905";
}
.icon-gz_brochure .path1:before {
  content: "\e906";
  color: rgb(218, 225, 230);
}
.icon-gz_brochure .path2:before {
  content: "\e907";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_business_card .path1:before {
  content: "\e908";
  color: rgb(218, 225, 230);
}
.icon-gz_business_card .path2:before {
  content: "\e909";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_card_icon .path1:before {
  content: "\e90a";
  color: rgb(218, 225, 230);
}
.icon-gz_card_icon .path2:before {
  content: "\e90b";
  margin-left: -0.9462890625em;
  color: rgb(15, 49, 72);
}
.icon-gz_check_mark:before {
  content: "\e90c";

}
.icon-gz_custom_request .path1:before {
  content: "\e90d";
  color: rgb(218, 225, 230);
}
.icon-gz_custom_request .path2:before {
  content: "\e90e";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_delete_icon:before {
  content: "\e90f";
}
.icon-gz_Draft_img_icon .path1:before {
  content: "\e910";
  color: rgb(218, 225, 230);
}
.icon-gz_Draft_img_icon .path2:before {
  content: "\e911";
  margin-left: -0.7880859375em;
  color: rgb(15, 49, 72);
}
.icon-gz_Draft_img_icon .path3:before {
  content: "\e912";
  margin-left: -0.7880859375em;
  color: rgb(15, 49, 72);
}
.icon-gz_Draft_img_icon .path4:before {
  content: "\e913";
  margin-left: -0.7880859375em;
  color: rgb(15, 49, 72);
}
.icon-gz_drop_down:before {
  content: "\e914";
}
.icon-gz_edit_icon:before {
  content: "\e915";

}
.icon-gz_facebook_ads .path1:before {
  content: "\e916";
  color: rgb(218, 225, 230);
}
.icon-gz_facebook_ads .path2:before {
  content: "\e917";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_file_drop:before {
  content: "\e918";

}
.icon-gz_flyer .path1:before {
  content: "\e919";
  color: rgb(218, 225, 230);
}
.icon-gz_flyer .path2:before {
  content: "\e91a";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_grid_icon:before {
  content: "\e91b";

}
.icon-gz_instagram_post .path1:before {
  content: "\e91c";
  color: rgb(218, 225, 230);
}
.icon-gz_instagram_post .path2:before {
  content: "\e91d";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_landing_page .path1:before {
  content: "\e91e";
  color: rgb(218, 225, 230);
}
.icon-gz_landing_page .path2:before {
  content: "\e91f";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_list_icon:before {
  content: "\e920";

}
.icon-gz_Logo .path1:before {
  content: "\e921";
  color: rgb(218, 225, 230);
}
.icon-gz_Logo .path2:before {
  content: "\e922";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_message_icon:before {
  content: "\e923";
}
.icon-gz_plus_icon:before {
  content: "\e924";
}
.icon-gz_project_icon:before {
  content: "\e925";
}
.icon-gz_project_thumbnail .path1:before {
  content: "\e926";
  color: rgb(0, 0, 0);
}
.icon-gz_project_thumbnail .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-gz_project_thumbnail .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gz_project_thumbnail .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gz_project_thumbnail .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gz_project_thumbnail .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gz_search_icon:before {
  content: "\e92c";

}
.icon-gz_setting_icon:before {
  content: "\e92d";

}
.icon-gz_share:before {
  content: "\e92e";

}
.icon-gz_t_shirt .path1:before {
  content: "\e92f";
  color: rgb(218, 225, 230);
}
.icon-gz_t_shirt .path2:before {
  content: "\e930";
  margin-left: -0.9609375em;
  color: rgb(15, 49, 72);
}
.icon-gz_user_management .path1:before {
  content: "\e931";
  color: rgb(218, 225, 230);
}
.icon-gz_user_management .path2:before {
  content: "\e932";
  margin-left: -0.8837890625em;
  color: rgb(15, 49, 72);
}
