body{ background: #fff; font-family: 'Open Sans', sans-serif; font-weight: normal; font-size: 14px; color: #1a3147; }
.clear{ clear: both; }
.sep{ padding:10px 0px; clear: both; display: block; }
.sep1{ padding:5px 0px; clear: both; display: block; }
.sep2{ padding:20px 0px; clear: both; display: block; }
.img{ display:inline !important; }
.imgfull{ width: 100%; }
.bold{ font-weight: bold; }
.normal{ font-weight: normal; }
.italic{ font-style: italic; }
.textleft{ text-align: left !important; }
.textright{ text-align: right; }
.capitalize{ text-transform: capitalize !important; }

ul{padding: 0px;margin:0px; }
*{box-sizing: border-box; outline: none; }
i{ padding-right: 6px; }
h1, h2, h3, h4, h5, h6, p{ padding: 0px; margin: 0px; line-height: normal; }
a, .btn{ transition: color 0.25s ease 0s, background 0.25s ease-in-out 0s; color: #f04c27; }
a:hover, a:focus{ text-decoration: none; color: #333333; }
/*-----End Common Css-----*/

.d-flex { display: flex; }
.align-self-center { align-self: center; }

.headermain{ }
.navbar-brand{ height: auto; width: 98px; padding: 0px; margin-left: 0px !important; }
.navbar-right{ margin-right:-15px !important; }

/*---------- Start Bootstrap ----------*/
.navbar{  margin-bottom: 0px; }

.navbar-default{ background: #fff; border: 0px; border-radius: 0px; box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.1); padding: 16px 0px; }
.navbar-default .navbar-nav > li { padding: 10px 20px; }
.navbar-default .navbar-nav > li > a{ color: #1a3147; font-size: 14px; font-weight: bold; padding: 10px 0px; transition:none; transition: color 0.25s ease 0s, ease-in-out 0s; }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: #e52344; background: transparent; border-bottom: solid 2px #e52344; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background: none; color: #e52344; border-bottom: solid 2px #e52344; }



.menuleft{ padding-top: 0px; padding-left: 30px; }
.menuright{ padding-top: 0px; }
.menuright li{ padding: 10px 0px !important; }
.menuright li.button a{ background-color: #e52344; color: #fff !important; border-radius: 30px; border: 0px; padding: 6px 16px; margin-left: 20px; margin-top: 4px; }
.menuright li.button a:hover, .menuright li.button a:focus, .menuright li.button a.active{ background-color: #e52344; color: #fff !important; border: 0px; }



/*---------- End Bootstrap ----------*/


.red{ color: #e52344 !important; }
.dblue{ color: #1a3147 !important; }
.blue{ color: #47b5f3 !important; }
.white{ color: #ffffff !important; }


/*-----Contain Fluid widhout space-----*/
.row-no-padding > [class*="col-"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media screen and (max-width: 767px) {
  .row-no-padding > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row.vdivide [class*='col-']:not(:first-child):after { background: #fff; width: 1px; content: ""; display:block; position: absolute; top:0; bottom: 0; left: 0; }
/*----------*/



h1{ font-size: 40px; color: #ffffff; font-weight: bold; padding-bottom: 18px; line-height: 44px; }
h2{ font-size: 35px; color: #ffffff; font-weight: bold; line-height: 38px; }
h3{ font-size: 26px; color: #ffffff; font-weight: bold; line-height: 32px; }


p{ font-size: 14px; font-weight: normal; padding-bottom: 20px; }
p:last-child{ padding-bottom: 0px !important; }

.arrowr{ position: relative; padding-right: 42px !important; }
.arrowr:before{ position: absolute; right: 26px; font-family: FontAwesome; content: "\f105"; }

.btn1 { background-color: #e52344; border: none; padding: 12px 22px; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; border-radius: 30px; text-transform: uppercase; }
.btn1:hover, .btn1:focus, .btn1.active, .btn1:active{ background-color: #000 !important; color: #fff !important; text-decoration: none; box-shadow: none; }

.btn2 { background-color: #1a3147; border: none; padding: 12px 22px; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; border-radius: 30px; text-transform: uppercase; }
.btn2:hover, .btn2:focus, .btn2.active, .btn2:active{ background-color: #000 !important; color: #fff !important; text-decoration: none; box-shadow: none; }

.btn3 { background-color: #47b5f3; border: none; padding: 12px 22px; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; border-radius: 30px; text-transform: uppercase; }
.btn3:hover, .btn3:focus, .btn3.active, .btn3:active{ background-color: #000 !important; color: #fff !important; text-decoration: none; box-shadow: none; }

.btn.btnfull{ width: 100%; }
.btn.btnhalf{ width: 50%; }
.btn.sqr{ border-radius: 0px !important; }
.btn.radius6{ border-radius: 6px !important; }
.btnsm{ padding: 8px 26px !important; font-size: 14px !important; }

.btnlr, .btnlr:hover{ padding-left: 40px !important; padding-right: 40px !important; }

.link1{ color: #e52344; }
.link1:hover, .link1:focus{ color: #000000; }

.link2{ color: #1a3147; }
.link2:hover, .link2:focus{ color: #000000; }



.topsubscribemain{ border-bottom: solid 1px #eeeeee; }
.topsubscribeleft{ text-align: center; font-size: 12px; font-weight: bold; position: relative; padding: 8px 0px; }
.topsubscribemain .subscribebtn{ text-align: center; position: absolute; right: 0px; bottom: 0px; /*background: #47b5f3;*/ padding: 10px 30px; font-size: 12px; }
.topsubscribemain .subscribebtn a{ color: #e52344; text-decoration: underline; }

.subscribeboxmain{ background-color: #e52344; padding: 30px; color: #fff; text-align: center; position: relative;  }
.subscribeboxmain:before{ background: url(../images/signupbg.png) repeat; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; content: ""; opacity: 0.2;  }
.subscribeboxmain h3{ font-size: 28px; }
.subscribeboxmain p{ font-size: 16px; padding-top: 3px; }

.subscribeboxmain .form-control{ background-color: rgba(255, 255, 255, 0.2); border-radius: 30px 0px 0px 30px; box-shadow: none; border: solid 2px #fff; border-right: 0px; height: 42px; color: #fff !important; -webkit-text-fill-color: #fff !important; }
.subscribeboxmain .form-control:focus{ background-color: rgba(255, 255, 255, 0.2); border-radius: 30px 0px 0px 30px; box-shadow: none; border-color: #fff; color: #fff !important; }
.subscribeboxmain .input-group-addon{ background: #ffffff; border-color: #ffffff; color: #1a3147; border-radius: 0px 30px 30px 0px; }
.subscribeboxmain a{ color: #e52344; padding-left: 20px; padding-right: 20px; font-weight: bold; text-transform: uppercase; }




/*.bannermain{ background: url(../images/mainbanner.png) no-repeat 100% top; background-size: contain; }*/
/*.bannermain .leftpart{ padding: 150px 0px; }*/
.bannermain .leftpart{ padding: 180px 0px 180px 40px; }

.bannermain .leftpart h2{ font-size: 24px; font-weight: bold; color: #e52344; line-height: normal; }

.bannermainmob{ display: none; }


.mainright{ background: url(../images/mainbanner.png) no-repeat right top; background-size: 59% 100% !importanr; position: relative; }
.mainright:before{ position: absolute; left: 30%; bottom: 90px; content: "unlimited"; color: #ecf2f7; font-size: 80px; font-weight: bold; z-index: -1; }
.mainright:after{ position: absolute; left: 30%; bottom: -40px; content: "graphic"; color: #ecf2f7; font-size: 140px; font-weight: bold; z-index: -1; }



.brandlogo-main{ background-color: #ecf2f7; padding: 10px 0px; }
.brandlogo-box{ text-align: center; width: 100%; height: 100px; display: table; }
.brandlogo-box div{ display: table-cell; vertical-align: middle; }
.brandlogo-box div img{ width: 125px; }

.designscreate-main{ }
.designscreate-main .lefttpart{ padding: 100px 0px; }
.designscreate-main .boxes{ height: 160px; padding: 40px 0px; }
.designscreate-main .boxes .media-left{ padding-right: 14px; }
.designscreate-main .boxes .media-left img{ width: 86px; }
.designscreate-main .boxes .media-body{ vertical-align: middle; }
.designscreate-main .boxes .media-heading{ font-weight: bold; margin-bottom: 0px; font-size: 16px; }



.designscreate-main .rightpartbg{ background-color: #e52344; position: relative; z-index: 10; overflow: hidden; }
.designscreate-main .rightpartbg:before{ position: absolute; right: -70px; bottom: 90px; content: "designs we"; font-size: 80px; font-weight: bold; color: #d61738; z-index: -1; }
.designscreate-main .rightpartbg:after{ position: absolute; right: -70px; bottom: 0px; content: "create"; font-size: 140px; font-weight: bold; color: #d61738; line-height: 120px; z-index: -1; }

.designscreate-main .rightpart{ background-size: 80%; padding: 140px 100px 190px; color: #fff;  }
.designscreate-main .rightpart h4{ font-size: 24px; font-weight: bold; padding-bottom: 13px; }

.workflow-main{ background-color: #edf2f8; padding: 60px 0px; }
.Workflow-slider{ padding: 20px 0px 0px 0px;  }
.Workflow-slider .leftpart{ padding: 30px 0px 0px 0px; min-height: 660px; }
.Workflow-slider .leftpartbox{ padding: 20px; }
.Workflow-slider .leftpartbox h4{ font-size: 16px; font-weight: bold; }
.Workflow-slider .leftpartbox p{ font-size: 13px; }


/*----- Start Main Slider -----*/
.carousel.vertical .carousel-indicators li, .carousel-indicators-vertical li {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 1px transparent;
    color: #666666;
    border-radius: 0px;
    text-indent: 0px;
    display: block;
}
.Workflow-slider .carousel-indicators{ text-align: left; position: inherit; }
.Workflow-slider .carousel-indicators .active {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    border: solid 1px #d1d1d1 !important;
}
/*----- End Main Slider -----*/



.ourworks-main{ padding: 60px 0px; }
.ourworks-titlemain{ text-align: center; }
.ourworks-titlemain p{ color: #969696; }

.ourworks-slidermain{ padding: 40px 0px 110px 0px; margin-left: 0px; margin-right: 0px; }
.ourworks-slidermain .owl-nav{ display: none !important; }

.ourworks-slidbox{ text-align: center;  transition: transform .2s;  position: relative;  }
.ourworks-slidbox .data{ width: 100%; position: absolute; left: 0px; right: 0px; bottom: 0px; color: #fff; }
.ourworks-slidbox .data h4{ color: #fff; font-size: 20px; font-weight: bold; padding-bottom: 20px; }
.ourworks-slidbox .data p{ display: none; font-size: 14px; }


.ourworks-slidbox:hover {
    /*-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,.3);
            box-shadow: 0px 0px 6px 3px rgba(0,0,0,.3);*/
}


.ourworks-slidbox:hover .data{ background: #fff; padding: 15px 10px; transition: all 90ms ease-in-out; }
.ourworks-slidbox:hover .data h4{ color: #1a3147; padding-bottom: 6px; }
.ourworks-slidbox:hover .data p{ display: inherit; color: #95989a; font-size: 14px; }
.slick-list.draggable{ height: 600px; }

.slickslider{ width: 100%; margin: 60px auto; overflow: hidden; }
.slick-slide { margin: 0px; }
.slick-slide img { width: 100%; height: 500px; margin-top: 50px; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease; }
.slick-prev:before, .slick-next:before { color: black; }
.slick-slide { transition: all ease-in-out .3s; /*opacity: .2;*/ }
.slick-current { opacity: 1; }

.slick-center img{ width: 100% !important; height: 580px !important; margin-top: 0px !important; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease; }
.slick-slide img:hover{ height: 580px !important; margin-top: 0px !important; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease; }

.slick-slide.slick-center.small-center img{
    width: 100% !important;
    height: 500px !important;
    margin-top: 50px !important;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.slick-slide.slick-center.large-center img{
    width: 100% !important;
    height: 580px !important;
    margin-top: 0px !important;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}




/*
.ourworks-slidbox:hover {
    -webkit-box-shadow: 0px 6px 14px 7px rgba(0,0,0,.3);
    box-shadow: 0px 6px 14px 7px rgba(0,0,0,.3);
    transform: scale(1.1);
}

.ourworks-slidbox:hover .data{ background: #fff; padding: 15px 10px; transition: all 90ms ease-in-out; }
.ourworks-slidbox:hover .data h4{ color: #1a3147; padding-bottom: 6px; }
.ourworks-slidbox:hover .data p{ display: inherit; color: #95989a; font-size: 18px; }
*/


/*.ourworks-slidermain .owl-item:hover{ z-index: 11 !important; }
.ourworks-slidermain .owl-carousel .owl-stage-outer{ overflow: visible; }
.ourworks-slidermain { overflow: hidden; }*/




/* Owl Slider Start */
.owl-theme .owl-dots, .owl-theme .owl-nav { text-align: center; -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav { margin-top: 10px; }
.owl-theme .owl-nav [class*=owl-] { color: #FFF; font-size: 14px; margin: 0px; padding: 4px 7px; background: #D6D6D6; display: inline-block; cursor: pointer; border-radius: 3px; }
.owl-theme .owl-nav [class*=owl-]:hover { background: #869791; color: #FFF; text-decoration: none; }
.owl-theme .owl-nav .disabled { opacity: 0.5; cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 10px; }
.owl-theme .owl-dots .owl-dot { display: inline-block; zoom: 1; }
.owl-theme .owl-dots .owl-dot span { width: 10px; height: 10px; margin: 5px 7px; background: #D6D6D6; display: block; -webkit-backface-visibility: visible; transition: opacity .2s ease; border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #869791; }

/* Owl Dots */
.owl-nav { display: none; }
.owl-dots { padding-top: 20px; }
#owl-demo1 .owl-nav { display: inherit; position: absolute; top: 40%; margin: 0px; width: 100%; }
#owl-demo1 .owl-prev { position: absolute; left: -15px; background: #042d56; }
#owl-demo1 .owl-next { position: absolute; right: -15px; background: #042d56; }
#owl-demo1 .owl-next i, #owl-demo1 .owl-prev i { padding: 0px 5px; }

/* Owl Slider End */


.testimonial-main{ background: #47b5f3 url(../images/review-section-bg.png) no-repeat right top; position: relative; padding: 60px 0px 0px; height: 760px; }
.testimonial-main.landing{ height: 100% !important; padding-bottom: 40px; }
.testimonial-main:before{ position: absolute; left: 0px; bottom: 130px; content: "What others"; color: #37a5e3; font-size: 60px; font-weight: bold; line-height: 100px; }
.testimonial-main:after{ position: absolute; left: 0px; bottom: 0px; content: "have to say about us"; color: #37a5e3; font-size: 100px; font-weight: bold; line-height: 200px; }
.testimonial-contain{ position: relative; z-index: 55; }
.testimonial-star{ text-align: center; padding-top: 20px; }
.testimonial-star p{ font-weight: bold; color: #fff; padding-top: 5px; }

.testimonial-box{ padding: 80px 0px 0px 0px; }
.testimonial-imgbox{ position: relative; box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.5); }
.testimonial-imgbox img{ width: 100%; height: 470px; }
.testimonial-imgbox .overlap{ position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.4); color: #fff; padding: 130px 50px 50px 50px; }
.testimonial-imgbox .overlap:before{ position: absolute; top: 70px; font-family: FontAwesome; content: "\f10d"; font-size: 50px; opacity: 0.5; }
.testimonial-imgbox .overlap:after{ position: absolute; right: 50px; margin-top: -90px;  font-family: FontAwesome; content: "\f10e"; font-size: 50px; opacity: 0.5; }
.testimonial-imgbox .overlap h4{ font-weight: bold; font-size: 20px; }

.testimonial-imgbox.active{ top: -30px; }
.testimonial-imgbox.active img{ width: 100%; height: 530px; }
.testimonial-imgbox.active .overlap{ padding: 180px 40px 50px 40px; }
.testimonial-imgbox.active .overlap:before{ position: absolute; top: 80px; }
.testimonial-imgbox.active h4{ font-weight: bold; font-size: 24px; }
.testimonial-imgbox.active p{ font-weight: bold; font-size: 22px; }
.testimonial-imgbox.active p.last{ font-weight: normal; }



/* D Style */
.how-it-works{ padding: 60px 0px; background: url('../images/section-bg.png'); background-size: cover; position: relative; }
.how-works-outer{ margin: 30px 0px; text-align: center; position: relative; z-index: 55; }
.how-works-outer .imagebox{ margin-bottom: 20px; text-align: center; min-height: 120px; }
.how-works-outer .imagebox img{ width: 120px; }
.how-it-works .steps-content { }
.how-it-works .steps-content h3{ font-size: 18px; color: #1a3147; font-weight: bold; padding-bottom: 10px; }
.how-it-works .steps-content p{ font-weight: normal; color: #1a3147; font-size: 14px; }
.how-it-works .bg-text-section{ padding: 30px 45px 0px; position: absolute; /*top: 70%;*/ bottom: 0px; z-index: -1; }
.how-it-works .bg-text-section p{ font-size: 80px; color: #ecf2f7; font-weight: bold; line-height: 1; }



.designer-message-main{ padding: 160px 0px 60px; background: url('../images/background-icon-pattern.png'); background-size: cover; background-position: bottom; position: relative; }
.designer-message-main h2{ text-transform: lowercase; color: #47b5f3; font-size: 60px; }
.designer-contentmain{  }
.designer-contentmain h1{ padding-bottom: 40px; }
.designer-message-main .designer-content{ background: #fff; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2); box-shadow: 0 3px 6px rgba(0,0,0,0.2); }
.designer-message-main .designer-content .left-video-part img{ width: 100%; }
.designer-message-main .designer-content .designer-right-content { padding: 35px 20px 15px 0px; }
.designer-message-main .designer-content .designer-right-content p{ color: #1a3147; margin-bottom: 10px; padding-top: 50px; line-height: 28px; }
.designer-message-main .designer-content .designer-right-content .designer-btn{ background: #47b5f3; border: 0px; border-radius: 32px; color: #fff; font-size: 19px; padding: 16px 32px; text-transform: uppercase; }




.get-sale-section{ background: #E52344; padding: 50px 0px; }
.get-sale-section .get-sale-content { padding-left: 30px; }
.get-sale-section .get-sale-content h2{ color: #fff; text-transform: unset; font-size: 36px; font-weight: bold; }
.get-sale-section .get-sale-content p{ color: #fff; font-size: 18px; }
.get-sale-section .form-inline{ padding: 10px 0px 0px; }
.get-sale-section .form-inline input[type='email'],
.get-sale-section .form-inline input[type='text'] { height: 50px; border-radius: 32px; width: 100%; outline: none; border: none; font-size: 14px; color: #1a3147; padding-left: 24px; padding-right: 24px; }
.get-sale-section .form-inline input[type='email']::placeholder{ color: #1a3147; }
.get-sale-section .form-inline input[type='text']::placeholder { color: #1a3147; }
.get-sale-section .btnfull{ padding: 0px; line-height: 50px; }


.footer-main{ padding: 40px 0px 0px; }
.footer-logo{ padding: 15px 0px 0px 0px; }
.footer-logo img{ width: 130px; }

.footer-links{  }
.footer-links ul{ margin: 0px; padding: 0px; }
.footer-links li{ margin: 0px; padding: 0px 0px 10px 0px; list-style: none; }
.footer-links li:last-child{ padding-bottom: 0px; }
.footer-links li a{ color: #9EA1A3; text-transform: capitalize; font-size: 14px; }
.footer-links li a:hover{ color: #1a3147; }

.footer-social { }
.footer-social i{ background: #dedede; width: 36px; height: 36px; line-height: 36px; border-radius: 100%; display: inline-block; text-align: center; color: #E52344; font-size: 18px; padding: 0px; margin: 0px 5px; }

.footer-bottom{ padding: 15px 0px; background: #eeeeee; color: #95989a; text-align: center; margin-top: 40px; }
.footer-bottom p{ text-transform: capitalize; margin: 0px; font-size: 13px; }



/* Inner Common */
.innermain-banner { padding: 60px 0px 50px; text-align: center; }


/* Authentication Start */
.authentication-main{  }
.authentication-main.loginmain{ padding: 70px 0px; background: url(../images/loginbg.png) no-repeat center top; }

.authentication-main .boxmain{ background: #fff; box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1); padding: 30px; /*margin: 0px 100px;*/ max-width: 880px; margin: 0px auto; }
.authentication-main .boxmain.boxsm{ width: 528px; margin: 0px auto; }
.authentication-main .boxmain .logo{ text-align: center; padding-bottom: 60px; }
.authentication-main .form-group{ margin-bottom: 15px; }
.authentication-main .alllabel{ font-weight: normal; padding-bottom: 5px; }
.authentication-main .form-control{ border-color: #dddddd; height: 42px; font-style: italic; font-size: 14px; }
.authentication-main .checkbox{ font-size: 16px; color: #1a3147; margin: 0px; }
.authentication-main .forgotpassword{ font-size: 16px; color: #e52344; text-align: right; }

.authentication-main.signupmain{ padding: 0px 0px 60px; background: url(../images/signupbg.png) no-repeat center bottom; background-size: 100%; }
.authentication-main.signupmain h3{ font-size: 15px; font-weight: bold; color: #1a3147; padding-bottom: 10px; }
.authentication-main.signupmain .chckbox1{ font-size: 13px; }
.authentication-main.signupmain .cards{ text-align: right; padding-top: 5px; }
.authentication-main.signupmain .cards img{ height: 34px; }

.authentication-main.signupmain .logo{  }
.authentication-main.signupmain .logo img{ height: 120px; }



/* Popup Start */
.popupall{  }
.popupall .modal-content{ border-radius: 0px; }

.popupsignup{ text-align: center; }
.popupsignup .modal-dialog{ margin-top: 100px; /*width: 880px;*/ }
.popupsignup .modal-body{ padding: 60px 20px; background: #f8f8f8 url(../images/signup-emailbg.png) no-repeat right center; }
.popupsignup .formmain{ width: 70%; margin: 0px auto; }
.popupsignup h3{ padding-bottom: 15px; }
.popupsignup .form-control{ border-radius: 30px; height: 48px; font-size: 16px; color: #1a3147; -webkit-text-fill-color: #1a3147 !important; padding: 6px 22px; }
.popupsignup .form-control:focus{ border-color: rgba(0, 0, 0, 0.3); }
.popupsignup .link{ font-size: 18px; color: #1a3147; font-weight: bold; }
.popupsignup .link:hover{ color: #000; }



/* About Us Start */
.about-main{  }
.about-left{ background: url(../images/aboutmain.jpg) no-repeat center center; background-size: cover; }
.aboutleft-box{ text-align: center; padding: 100px 150px; }


.about-right{ background: #1a3147; position: relative; }
.about-right:before{ position: absolute; left: 0px; top: 0px; content: "about"; font-size: 120px; line-height: 120px; color: #15283a; font-weight: bold; }
.about-right:after{ position: absolute; left: 0px; top: 90px; content: "us"; font-size: 120px; line-height: 120px; color: #15283a; font-weight: bold; }
.about-rightbox{ padding: 84px 132px 100px 62px; position: relative; z-index: 12; }
.about-rightbox h2{ padding-bottom: 40px; }
.about-rightbox h3{ color: #fff; font-size: 30px; font-weight: bold; padding-bottom: 12px; }
.about-rightbox p{ color: #fff; }

.ourcorevalues-main{ padding: 60px 0px; background: #f7f7f7 url(../images/aboutbg.png) no-repeat right top; background-size: cover; }
.ourcorevalues-main h3{ padding-bottom: 50px; }
.ourcorevalues-box{ text-align: center; }
.ourcorevalues-box img{ padding-bottom: 30px; }
.ourcorevalues-box h4{ font-size: 18px; font-weight: bold; color: #1a3147; padding-bottom: 15px; }
.ourcorevalues-box p{ font-size: 14px; font-weight: normal; color: #1a3147; }

.meetourteam-main{ padding: 60px 0px; text-align: center; }
.meetourteam-main h3{ padding-bottom: 30px; }
.meetourteam-boxmain{ padding: 40px 0px 0px 0px; }
.meetourteam-box{  }
.meetourteam-boximage{ padding-bottom: 20px; }
.meetourteam-boximage img{ height: 260px; box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.3); }
.meetourteam-box h4{ font-size: 16px; font-weight: bold; padding-bottom: 6px; }
.meetourteam-box p{ font-size: 14px; padding: 0px 0px 0px 0px; color: #666666; }
.meetourteam-box small{ font-size: 13px; font-style: italic; color: #666666; }


/* Portfolio Start */
.portfolio-main{  }
.portfolio-right{ background: url(../images/portfoliomain.jpg) no-repeat center center; background-size: cover; }
.portfolio-left{ background: #e52344; -webkit-box-shadow: 6px 0 6px 0 rgba(0,0,0,0.4); box-shadow: 6px 0 6px 0 rgba(0,0,0,0.4); position: relative; z-index: 5; }
.portfolio-leftbox{ text-align: center; padding: 120px 50px; }
.portfolio-leftbox p{ color: #fff; font-size: 20px; }

.bookcover-main{ padding: 60px 0px; }
.bookcover-titlemain{ padding-bottom: 20px; }
.bookcover-titlemain p{ color: #969696; padding: 22px 0px 0px 0px; }

.bookcover-boxmain{  }
.bookcover-box{ box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); margin: 15px 0px; }



.image-source-link { color: #98C3D1; }
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg { opacity: 0; -webkit-backface-visibility: hidden; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1; }
.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8; }
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg { opacity: 0; }




/* Blog Start */
.blog-main{ position: relative; padding-bottom: 80px; }
.blog-main:before{ position: absolute; right: 0px; bottom: -10px; content: "blog post"; font-size: 200px; color: #ecf2f7; font-weight: bold; }
.blog-datamain{ }
.blog-datamain .box{ box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2); color: #fff; min-height: 440px; position: relative; margin-bottom: 30px; }
.blog-datamain .box .data{ position: absolute; width: 100%; left: 0px; right: 0px; bottom: 0px; padding: 30px; z-index: 2; }
.blog-datamain .box h3{ font-size: 26px; padding-bottom: 20px; }
.blog-datamain .box p{ font-size: 18px; padding-bottom: 30px; }
.blog-datamain .box .date{ font-size: 18px; padding-bottom: 37px; }
.blog-datamain .box1{ background: #47b5f3; }
.blog-datamain .box1:before{ background: url(../images/blogboximg1.png) no-repeat left bottom; position: absolute; left: 30px; right: 0px; top: 0px; bottom: 0px; content: ""; opacity: 0.1; }
.blog-datamain .box2{ background: #5d6d7d; }
.blog-datamain .box2:before{ background: url(../images/blogboximg2.jpg) no-repeat center center; background-size: cover; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; content: ""; opacity: 0.2; }
.blog-datamain .box3{ background: #e52344; }
.blog-datamain .box4{
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(26,49,71,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(26,49,71,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(26,49,71,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#1a3147',GradientType=0 ); /* IE6-9 */
}
.blog-datamain .box4:before{ background: url(../images/blogboximg3.jpg) no-repeat center center; background-size: cover; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; content: ""; z-index: -1; }


/* Blog Paragraph Start */
.blogparagraph-main{ background: #47b5f3; text-align: center; }
.blogparagraph-banner { padding: 140px 50px; color: #fff; }
.blogparagraph-datamain{ padding: 60px 0px; }
.blogparagraph-datamain h3{ font-size: 26px; color: #1a3147; font-weight: bold; padding: 0px 0px 24px; }
.blogparagraph-datamain .data{ padding: 0px 0px 24px; }
.blogparagraph-datamain .data:last-child{ padding: 0px; }


/* Pricing Start */
.pricing-main{  }
.pricing-package-main{ background: url(../images/pricing-pagebg.png) no-repeat center top; background-size: cover; margin-bottom: 30px; padding: 0px 0px 60px 0px; position: relative; }
.pricing-package-main:before{ position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; content: ""; background: rgba(255, 255, 255, 0.6); }

.pricingpackage-box{ text-align: center; position: relative; }
.pricingpackage-box .offer{ min-height: 50px; }
.pricingpackage-box .offer p{ background: #e52344; font-weight: bold; color: #fff; padding: 15px 5px !important; min-height: 50px; }

.pricingpackage{ background: #fff; box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.1); padding: 40px; }
.pricingpackage h3{ font-size: 20px; text-transform: uppercase; color: #1a3147; font-weight: normal; padding: 0px 0px 10px; }
.pricingpackage .price{ font-size: 70px; color: #1a3147; font-weight: bold; line-height: normal; }
.pricingpackage .price span{ font-size: 50px; }
.pricingpackage small{ font-size: 14px; color: #999999; width: 100%; display: block; padding-bottom: 28px; }
.pricingpackage h4{ font-size: 18px; text-transform: uppercase; color: #e52344; font-weight: bold; padding-bottom: 20px; }
.pricingpackage ul{  }
.pricingpackage li{ padding: 0px 0px; list-style: none; font-size: 16px; color: #999999; line-height: 35px; }

.pricingpackage ul .bold{  }
.pricingpackage ul li .bold{ font-weight: bold; }

.pricing-questions-main{ position: relative; }
.pricing-questions-main:before{ position: absolute; left: 0px; right: 0px; background: #47b5f3; content: ""; min-height: 320px; z-index: -1; }

.pricing-questions-main .innermain-banner{ padding: 60px 0px 40px 0px; }

.pricingquestions-data{ padding-bottom: 60px; }
.pricingquestions-databox{ background: #fff; box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1); padding: 40px; margin-bottom: 22px; /*min-height: 250px;*/ height: 250px; }
.pricingquestions-databox h4{ font-size: 25px; color: #1a3147; font-weight: bold; padding-bottom: 12px; }


/* Categories Start */
.categories-main{ padding: 60px 0px; }
.categories-box{ margin-bottom: 40px; position: relative; color: #fff; }
.categories-box:last-child{ margin-bottom: 0px; }
.categories-box img{ width: 100%; height: 360px; }

.categories-box .overlay{ position: absolute; top: 0px; bottom: 0px; width: 54%;  height: 360px; display: table; z-index: 5; }
.categories-main .categories-box:nth-child(odd) .overlay{ left: 0px; background: url(../images/categoriesboxbgleft.png) no-repeat right top; background-size: cover; padding: 0px 130px 0px 40px; }
.categories-main .categories-box:nth-child(even) .overlay{ right: 0px; background: url(../images/categoriesboxbgright.png) no-repeat left top; background-size: cover; padding: 0px 20px 0px 200px; }
.categories-box .overlay .data{ display: table-cell; vertical-align: middle; width: 100%;  }


.checkoutourwork-main{
    padding: 60px 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 60%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, #ffffff 60%,#eeeeee 100%);
    background: linear-gradient(to bottom, #ffffff 60%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}
.company-logomain{ padding: 60px 0px 0px; }
.company-logomain .logomainbox{ text-align: center; }
.company-logomain .logomainbox img{ width: 80px; }

.custom-get-btn { width: 225px; margin: auto;display: block;color: #fff;background-color: #1a3147;border: none;margin-top: 30px;font-size: 20px; line-height: 20px;font-weight: 700;padding: 5px;height: 50px;border-radius: 30px; }
.custom-get-btn:hover{ color: #fff; }
.started-btn-section{ text-align: center; margin: auto; display:  block; }

/*.loadingmain{ position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; z-index: 888; background: rgba(255, 255, 255, 0.8); }
.loading{ position: absolute; left: 0px; right: 0px; top: 40%; bottom: 40%; width: 100px; margin: 0px auto; z-index: 9999; }*/




/*
font-family: 'Open Sans', sans-serif;
font-family: FontAwesome;
*/
/*---------------RESPONSIVE CSS---------------*/

@media (min-width: 1920px) {
    .container-fluid{ width: 100%; max-width: 1920px;  margin: 0 auto; }
}

@media screen and (max-width: 1800px){
    .mainright{ background-size: 100% 100% !important; }
}

@media screen and (max-width: 1580px){
    .bannermain .leftpart{ padding: 25% 0%; padding-left: 40px; }
    .mainright{ background-size: cover !important; }


}

@media screen and (max-width: 1399px){
    .bannermain .leftpart{ padding: 20% 0%; padding-left: 30px; }

    .testimonial-main{ height: 580px; }
    .testimonial-imgbox img{ height: 420px; }
    .testimonial-imgbox.active img{ height: 460px; }
    .designer-message-main{ padding-top: 280px; }

}
@media screen and (max-width: 1299px){
    .bannermain .leftpart{ padding: 25% 0%; padding-left: 30px; }

    .testimonial-imgbox img{ height: 380px; }
    .testimonial-imgbox.active img{ height: 440px; }
    .designer-message-main{ padding-top: 240px; }


    .slick-list.draggable{ height: 500px; }
    .slick-slide img { height: 400px; }
    .slick-center img{ height: 480px !important; }
    .slick-slide img:hover{ height: 480px !important; }

    .slick-slide.slick-center.small-center img{ height: 400px !important; }
    .slick-slide.slick-center.large-center img{ height: 480px !important; }

}

/*----- Main container set to this -----*/
@media (min-width: 1341px) {
    /*.container { width: 1330px; }*/

    .container { width: 1256px; }
}
@media only screen and (min-width: 1200px) and (max-width: 1340px)  {
    /*.container { width: auto; }*/
}

@media screen and (max-width: 1340px){
    /*.bannermain{ background-size: cover; }*/
    .mainright{ background-size: 47% 100% !important; }


    .designscreate-main .box p{ font-size: 16px; }

    .designscreate-main .rightpart{ padding: 36% 12%; }

    /*.pricingpackage-box .offer p{ font-size: 16px; padding: 14px 5px !important; }
    .pricingpackage{ padding: 30px; }
    .pricingpackage h3{ font-size: 20px; }
    .pricingpackage .price{ font-size: 60px; }
    .pricingpackage .price span{ font-size: 46px; }
    .pricingpackage li{ font-size: 18px; line-height: 40px; }
    .pricingquestions-databox h4{ font-size: 22px; padding-bottom: 24px; }
    .pricingquestions-databox p{ font-size: 18px; }*/
}

/*----- Main container End -----*/

@media screen and (max-width: 1199px){
    .navbar-default{ padding: 15px 0px; }
    .navbar-default .navbar-nav > li{ padding: 10px 18px; }
    .navbar-default .navbar-nav > li > a{ padding: 10px 0px; font-size: 14px; }

    .menuright li{ padding: 10px 0px !important; }
    .menuright li.button a{ padding: 10px 20px; margin-left: 20px; margin-top: 0px; }


    .mainright{ background-size: 46% 100% !important; }
    .mainright::before{ font-size: 60px; }
    .mainright::after{ font-size: 120px; bottom: -25px; }
    .bannermain .leftpart{ padding: 20% 0%; padding-left: 20px; }


    /*.designscreate-main .lefttpart{ padding: 90px 0px 30px; }*/
    .designscreate-main .box{ padding: 44px 6px 25px; }
    .designscreate-main .rightpart{ padding: 160px 50px; }
    .designscreate-main .rightpartbg:before{ font-size: 60px; }
    .designscreate-main .rightpartbg:after{ font-size: 120px; bottom: 0px; }


    .designscreate-main .lefttpart{ padding: 60px 0 30px; }
    .designscreate-main .boxes .media-left img{ width: 80px; }
    .designscreate-main .boxes .media-heading{ font-size: 14px; padding: 10px 0px 0px 0px; }
    .designscreate-main .boxes .media-heading br{ display: none; }
    .designscreate-main .boxes .media-left{ padding: 0px; }
    .media-body, .media-left, .media-right{ display: block; width: 100%; }
    .designscreate-main .boxes{ text-align: center; }


    body{ font-weight: normal; font-size: 14px; }
    p{ font-size: 14px; font-weight: normal; padding-bottom: 20px; }
    h1{ font-size: 35px; padding-bottom: 12px; line-height: 38px; }
    h2{ font-size: 30px; line-height: 32px; }
    h3{ font-size: 22px; line-height: 24px; }


    .about-right::before, .about-right::after{ font-size: 140px; }
    .about-rightbox{ padding: 84px 62px 100px 62px; }

    .Workflow-slider .leftpart{ padding-top: 15px; min-height: 100%; }


    .blog-datamain .box{ min-height: 450px; }
    .blog-datamain .box h3{ line-height: 35px; font-size: 30px; }
    .blog-datamain .box h3 br{ display: none; }
    .blog-datamain .box p{ font-size: 20px; padding-bottom: 22px; }


    .get-sale-section .get-sale-content{ padding-left: 0px; }
    .get-sale-section .form-inline{ padding: 0px; }


    .pricingquestions-databox h4{ font-size: 20px; padding-bottom: 20px; }
    .pricingquestions-databox p{ font-size: 16px; }


    .how-it-works .steps-content p br{ display: none; }


    .designer-message-main .designer-content .designer-right-content{ padding: 40px 20px 30px 0px; }
    .designer-message-main .designer-content .designer-right-content p{ padding: 0px; }
    .designer-message-main{ padding-top: 180px; }


    .testimonial-imgbox img{ height: 340px; }
    .testimonial-imgbox.active img{ height: 390px; }
    .testimonial-imgbox.active{ transform: scale(1); }


    .testimonial-imgbox .overlap{ padding: 90px 24px 50px; }
    .testimonial-imgbox .overlap h4{ font-size: 14px; }
    .testimonial-imgbox .overlap::before{ top: 30px; }
    .testimonial-imgbox.active .overlap{ padding: 90px 24px 50px; }
    .testimonial-imgbox.active .overlap::before{ top: 20px; }
    .testimonial-imgbox.active p{ font-size: 18px; }
    .testimonial-imgbox.active h4{ font-size: 18px; }

    .aboutleft-box{ padding: 80px; }
    .ourcorevalues-box p br{ display: none; }

    .bookcover-titlemain p{ padding: 0px; }

}

@media screen and (max-width: 991px){
    .navbar-header{ float:none; padding-top: 15px; padding-bottom: 15px; }
    .navbar-brand{ height: auto; line-height: normal; padding: 0px 0px 0px 15px; }
    .navbar-toggle{ display: block; margin:12px 15px 0px 0; background: transparent; border:0; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
    .navbar-default{ background: #fff; padding: 0px; }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus{ background: transparent; }
    .navbar-default .navbar-toggle .icon-bar{ background:#1a3147; }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{ border: transparent; }

    .navbar-collapse { border-top: 1px solid transparent; padding-top:0; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
    .navbar-collapse.navbar-right {float: none !important; }
    .navbar-collapse.collapse { display: none!important; }
    .navbar-collapse.collapse.in {display: block!important;}
    .navbar-nav { float: none!important; margin: 7.5px 0;}
    .navmain li{ text-align: center; float: none;}
    .navbar-nav > li {  float: none; }

    .navbar-default .navbar-nav > li{ padding: 12px 0px; }
    .navbar-default .navbar-nav > li > a{ padding: 0px; border: 0px; }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { border-bottom: 0px; }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { border-bottom: 0px; }


    .menuright li{ padding: 12px 0px !important; margin-left: 20px; }
    .menuright li.button { margin-left: -20px !important; }
    .menuright li.button a{ padding: 10px 20px; }
    .menuright li.button a:hover, .menuright li.button a:focus, .menuright li.button a.active{ background-color: #e52344; color: #fff !important; border: 0px; }

    .menuright li.button a{ display: inline-block; }

    .mainright::before{ display: none; }
    .mainright::after{ display: none; }

    .menuleft{ padding: 0px; margin: 15px 0px 0px 20px; }
    .menuright { padding-top: 0px; margin: 0px 0px 20px 0px; }
    .navbar-right{ margin-right: 0px !important; }

    .footer-logo{ text-align: center; padding-bottom: 40px; }
    .footer-links{ text-align: center; }
    .footer-social{ text-align: center; padding: 40px 0px 0px 0px; }



    body{ font-size: 14px; }
    p{ font-size: 14px; padding-bottom: 16px; }
    h1{ font-size: 30px; padding-bottom: 12px; line-height: 38px; }
    h2{ font-size: 26px; line-height: 32px; }
    h3{ font-size: 20px; line-height: 24px; }


    .bannermain{ background-image: none; overflow-x: hidden; }
    .bannermainmob{ display: inherit; margin: 0px -15px; }
    .bannermain .leftpart{ padding: 40px 0px; text-align: center; }

    .brandlogo-main{ padding: 10px 0px; }
    .brandlogo-box{ margin: 10px 0px; }
    .brandlogo-box div img{ width: 120px; }


    .designscreate-main { overflow-x: hidden; }
    .designscreate-main .d-flex{ display: inherit; }
    .designscreate-main .lefttpart{ padding: 30px 20px; }
    .designscreate-main .boxes{ height: 100%; padding: 20px 0px; }

    .designscreate-main .rightpartbg::before{ display: none; }
    .designscreate-main .rightpartbg::after{ display: none; }

    .designscreate-main .rightpart{ padding: 50px 50px; text-align: center; }
    .designscreate-main .rightpart h1 br{ display: none; }
    .designscreate-main .rightpart h4{ font-size: 20px; }


    .Workflow-slider{ padding: 0px; }
    .Workflow-slider .leftpart{ min-height: 100%; text-align: center; padding: 30px 0px 0px 0px; }
    .Workflow-slider .leftpartbox{ text-align: center; }

    .testimonial-main{ height: 100%; padding: 60px 0px; }
    .testimonial-main::before, .testimonial-main::after{ display: none; position: inherit; }

    .testimonial-imgbox img{ height: 400px; }
    .testimonial-imgbox .overlap::before{ top: 140px; }
    .testimonial-imgbox .overlap{ padding: 200px 24px 50px; }


    .testimonialmob-main{ padding: 30px 0px 0px 0px; }

    .designer-message-main{ padding: 60px 0px; }
    .designer-message-main .designer-content .designer-right-content{ padding: 30px; text-align: center; }
    .designer-message-main .designer-content .designer-right-content p{ margin-bottom: 20px; }



    .ourcorevalues-main{ padding: 100px 0px; }
    /*.get-sale-section .btnfull{ width: auto; }*/

    .about-main .d-flex{ display: inline-block; }

    .portfolio-leftbox{ padding: 100px 50px; }

    .bookcover-titlemain{ text-align: center; }
    .bookcover-titlemain p{ padding-top: 0px; }
    .bookcover-box img{ height: 380px; width: 100%; }

    .blogparagraph-banner{ padding: 120px 20px; }
    .blogparagraph-datamain{ text-align: center; }




    .blog-main::before{ font-size: 140px; }

    .authentication-main.signupmain .d-flex{ display: block; }
    .authentication-main.signupmain .align-self-center{ align-self: auto; }
    .authentication-main.signupmain .cards{ text-align: right; }


    .pricingquestions-databox{ min-height: 100%; }
    .pricing-questions-main::before{ min-height: 310px; }

    .pricing-questions-main .innermain-banner { padding: 50px 0px; }

    .popupsignup .modal-dialog{ width: 80%; margin-top:40px; }
    .popupsignup .modal-body{ padding: 60px 20px; }


    .categories-box .overlay{ width: 72%; }

    .about-left{ text-align: center; }
    .aboutleft-box{ text-align: center; padding: 80px 20px; width: 100%; }
    .aboutleft-box img{ width: 400px; }

    .meetourteam-boximage { padding-bottom: 10px; }
    .meetourteam-box{ padding: 15px 0px; }

    .ourcorevalues-main h3, .meetourteam-main h3{ font-size: 22px !important; }

}

@media screen and (max-width: 767px){
    h1{ font-size: 30px; padding-bottom: 12px; line-height: 38px; }
    h2{ font-size: 24px; line-height: 32px; }
    h3{ font-size: 20px; line-height: 24px; }

    .bannermain .leftpart h2{ font-size: 20px; padding-bottom: 10px; }
    .bannermain .leftpart h2 br{ display: none; }

    .topsubscribemain .row-no-padding{ padding-left: 0px !important; padding-right: 0px !important; }

    .footer-links li, .footer-links li:last-child{ padding: 10px 0px; }
    .footer-logo{ padding-bottom: 30px; }
    .footer-social{ padding: 20px 0px 0px; }
    .footer-bottom{ margin-top: 30px; }

    .designscreate-main .boxes{ height: 160px; padding: 20px 0px; }

    .ourcorevalues-main{ padding: 80px 0px; }
    .ourcorevalues-main h3{ padding-bottom: 60px; }

    .ourcorevalues-box{ margin: 0px 0px 60px; }
    .ourcorevalues-box img{ padding-bottom: 15px; }

    .get-sale-section{ text-align: center; padding-bottom: 24px; }
    .get-sale-section .btnfull{ width: 300px; margin-top: 10px; }
    .get-sale-section .get-sale-content p{ font-size: 16px; padding-bottom: 12px !important; }
    /*.get-sale-section .get-sale-content p:last-child{ padding-bottom: 20px !important; }*/
    .get-sale-section .form-inline input[type="email"], .get-sale-section .form-inline input[type="text"]{ margin-top: 10px; }

    .about-right::before, .about-right::after{ font-size: 120px; }

    .portfolio-main .d-flex{ display: inline-block; }
    .portfolio-right{ min-height: 300px; }
    .portfolio-leftbox{ padding: 60px 20px; }

    .bookcover-main { padding: 60px 0px; }
    .bookcover-titlemain { padding-bottom: 30px; }

    .blogparagraph-datamain { padding: 60px 0px; }
    .blogparagraph-banner h1 br{ display: none; }
    .blogparagraph-datamain .data { padding: 0px 0px 40px; }


    .blog-main{ padding-bottom: 150px; }
    .blog-main::before{ font-size: 100px; bottom: 16px; }


    .testimonialmob-main{ width: 340px; margin: 0px auto; }
    .testimonial-imgbox .overlap{ padding: 130px 24px 20px; }
    .testimonial-imgbox .overlap::before{ top: 70px; }


    .how-works-outer .imagebox{ margin-bottom:15px; min-height: 100%; }

    .authentication-main .boxmain .logo img{ width: 200px; }
    .authentication-main .sep2{ padding: 10px 0px; }
    .authentication-main .forgotpassword{ text-align: center; padding-top: 40px; }

    .authentication-main.signupmain{ background-position: center top; background-size: contain; padding-bottom: 20px; }
    .authentication-main.signupmain .innermain-banner{ padding: 30px 0px; }
    .authentication-main.signupmain h1{ display: none; visibility: hidden; }
    .authentication-main.signupmain .cards{ text-align: center; padding: 0px 0px 30px 0px; }
    .authentication-main.signupmain .btn.sqr{ border-radius: 6px !important; width: 100%; }

    .popupsignup .modal-dialog{ width: auto; margin-top:20px; }
    .popupsignup .form-control{ font-size: 16px; height: 50px; }


    .categories-main{ padding: 30px 0px; }
    .categories-box{ position: inherit; margin-bottom: 20px; }
    .categories-box .overlay{ width: 100%; position: inherit; height: auto; background-color: #1a3147 !important; padding: 30px !important; display: inline-block; bottom: auto; top: auto; }
    .categories-box img{ height: auto; }
    .categories-main .categories-box:nth-child(2n+1) .overlay{ background-image: none; }
    .categories-main .categories-box:nth-child(2n) .overlay{ background-image: none; }
    .categories-box .overlay .data h1 { padding-bottom: 20px; word-break: break-all; }
    .categories-box .overlay .data p { padding-bottom: 20px; }
    .categories-box .overlay .data h1 br{ display: none; }


    .about-rightbox{ text-align: center; padding: 60px 20px; }
    .about-rightbox h2 { padding-bottom: 20px; }

    .pricing-package-main{ margin-bottom: 20px; padding: 0px 0px 20px 0px; }
    .pricingpackage-box{ width: 400px; margin: 0px auto 40px; }
    .pricingpackage-box .offer p{ min-height: 100%; padding: 15px 5px; }
    .pricingpackage-box .offer{ min-height: 100%; }

}
@media screen and (max-width: 599px){

    .center-slider{ width: 300px; }
    .custom-get-btn{ width: 100% !important; }
    .started-btn-section{ width: 100%; }

}
@media screen and (max-width: 575px){

    .topsubscribeleft{ padding: 15px 0px 0px 0px; }
    .subscribeboxmain{ padding: 20px 10px; }
    .subscribeboxmain h3{ font-size: 20px; }
    .subscribeboxmain p{ font-size: 14px; }
    .subscribeboxmain .input-group-addon{ padding:6px 5px; }

    .topsubscribemain{ overflow-x: hidden; }
    .subscribebtn{ position: inherit !important; padding: 5px 0px 15px 0px !important; }



    .designer-message-main .designer-content .designer-right-content{ padding: 20px; }

    .designscreate-main .rightpart{ padding: 40px 20px; }
    .designscreate-main .lefttpart [class*="col-"]{ width: 100% !important; }
    .designscreate-main .boxes{ height: 100%; }

    .Workflow-slider .leftpartbox h4{ font-size: 14px; padding-bottom: 4px; }

    .how-it-works .steps-content h3{ font-size: 16px; padding-bottom: 5px; }
    .how-works-outer .imagebox img{ width: 100px; }

    .how-it-works .bg-text-section{ padding: 30px 20px 0px; }
    .how-it-works .bg-text-section p{ font-size: 50px; }

    .testimonialmob-main{ width: 290px; margin: 0px auto; }

    .about-rightbox{ padding: 40px 15px; }
    .about-right::before{ font-size: 80px; line-height: 80px; }
    .about-right::after{ font-size: 80px; line-height: 80px; top: 90px; }
    .about-rightbox h2 { padding-bottom: 20px; }

    .get-sale-section .btnfull{ width: 200px; }

    .innermain-banner{ padding: 50px 0px; }

    .bookcover-boxmain .col-xs-6{ width: 280px; margin: 0px auto; float: none; }
    .bookcover-box{ margin: 30px 0; }
    .bookcover-box img { width: 100%; height: auto; }

    .blog-main{ padding-bottom: 90px; }
    .blog-main::before{ font-size: 60px; bottom: 16px; }

    .blog-datamain .box .data{ position: inherit; left: auto; right: auto; top: auto; bottom: auto; padding: 15px; }
    .blog-datamain .box{ min-height: auto; }
    .blog-datamain .box h3{ font-size: 22px; }
    .blog-datamain .box p{ font-size: 18px; }


    .authentication-main .boxmain .logo img{ width: 160px; }
    .authentication-main .boxmain .btnhalf{ width: 100%; }
    .authentication-main.loginmain{ padding: 40px 0px 80px; }
    .authentication-main .boxmain.boxsm{ width: 100%; }
    .authentication-main .form-control{ height: 46px; font-size: 16px; }

    .authentication-main .boxmain{ padding: 40px 15px; }

    .authentication-main.signupmain{ padding-bottom: 0px; }

    .pricingpackage { padding: 30px 15px 15px; }
    .pricingpackage .price { font-size: 50px; }
    .pricingpackage .price span{ font-size: 40px; }
    .pricingpackage li { font-size: 14px; }

    .pricingpackage-box{ width: 100%; margin: 0px auto 40px; }
    .pricingpackage h3 { font-size: 16px; }
    .pricingpackage h4{ font-size: 16px; }
    .pricingpackage-box .offer p{ font-size: 13px; }


    .pricingquestions-databox{ padding: 25px; height: 225px; }
    .pricing-questions-main::before { min-height: 260px; }
    .pricingquestions-databox h4{ font-size: 18px; padding-bottom: 16px; }
    .pricingquestions-databox p{ font-size: 15px; line-height: 1.5; }

    .popupsignup .formmain{ width: 100%; }
    .popupsignup .modal-body{ padding: 40px 20px; }

    .categories-box .overlay{ text-align: center; padding: 24px 15px !important; }
    .categories-box .overlay .data h1{ font-size: 20px; padding-bottom: 10px; }

    .blogparagraph-banner{ padding: 80px 15px; }
    .blogparagraph-datamain .data { padding: 0px 0px 28px; }


}
@media screen and (max-width: 479px){}
@media screen and (max-width: 360px){
    .workflow-main h1{ font-size: 24px; line-height: normal; }
}


/*New CSS*/

@media (min-width: 768px)
{
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: 43px;
	}
}
