/*!
 * Copyright (c) 2014 Tamble, Inc.
 * Licensed under MIT (https://github.com/tamble/jquery-ui-daterangepicker/raw/master/LICENSE.txt)
 */

.comiseo-daterangepicker-triggerbutton.ui-button {
    text-align: left;
    min-width: 18em;
}

.comiseo-daterangepicker {
    position: absolute;
    padding: 5px;
}

.comiseo-daterangepicker-mask {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* required for IE */
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.comiseo-daterangepicker-presets,
.comiseo-daterangepicker-calendar {
    display: table-cell;
    vertical-align: top;
    height: 230px;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-presets {
    padding: 2px 7px 7px 2px;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-presets {
    padding: 2px 2px 7px 7px;
}

.ui-menu {
    white-space: nowrap;
}

.comiseo-daterangepicker .ui-widget-content,
.comiseo-daterangepicker .ui-datepicker .ui-state-highlight {
    border-width: 0;
}

.comiseo-daterangepicker > .comiseo-daterangepicker-main.ui-widget-content {
    border-bottom-width: 1px;
}

.comiseo-daterangepicker .ui-datepicker .ui-datepicker-today .ui-state-highlight {
    border-width: 1px;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-calendar {
    border-left-width: 1px;
    padding-left: 5px;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-calendar {
    border-right-width: 1px;
    padding-right: 5px;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-buttonpanel {
    float: left;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-buttonpanel {
    float: right;
}

.comiseo-daterangepicker-buttonpanel > button  {
    margin-top: 6px;
}

.comiseo-daterangepicker-right .comiseo-daterangepicker-buttonpanel > button {
    margin-right: 6px;
}

.comiseo-daterangepicker-left .comiseo-daterangepicker-buttonpanel > button {
    margin-left: 6px;
}

/* themeable styles */
.comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    background: #b0c4de;
    color: #fff;
}