@media (max-width: 1200px) {	
  .row.custom-stock {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {

	/** Top Menu **/
	.flex-show {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.nav-section .navbar-default .navbar-collapse {  
		width: 100%;
		flex: 1;
	}	
	.nav-section .navbar-default .navbar-collapse .navbar-right {
		float: none !important;
		display: inline-block;
		vertical-align: middle;
	}
	
	.nav-section .navbar-default .navbar-nav {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	
	.plan-boxex-xx6 {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	}
	
	
	.flex-reverse {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		
		flex-direction: row-reverse;
	}
	.flex-show-em1,
	.flex-verse {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	
	.orb-xb {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		flex-direction: row-reverse;
	}
	
	.nav-section .navbar-default.lefted .navbar-collapse {
		text-align: left;
		padding-left: 50px;
	}

	.nav-section .navbar-default.centered .navbar-collapse {
		text-align: center;
	}
	
	.pro-ject-leftbar {
		position: fixed;
		left: 0;
		top: 64px;
		bottom: 0;
		width: 110px;
		overflow-y: auto;
		height: calc( 100vh - 70px );
	}
/*	.orbxbin-list {
		padding-bottom: 30px;
	}*/
	.orbxb-img-ssrr {
		margin-left: 50px;
		margin-right: 50px;
	}
	.pro-desh-box .pro-circle-list.pad-w1 { padding-left: 60px; }
	.dcol-3 {width: 30%;}
	
}

@media (min-width: 768px) {
	.nav-section .navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 7px;
		padding: 3px;font: normal 15px/25px 'GothamPro', sans-serif;
	}
	.nav-section .navbar-nav > li{
		margin-right: 11px;
	}
	.nav-section .navbar-nav > li:last-child {
		margin-right: 0;
	}
	/*.navbar-collapse.collapse {
    display: none !important;
    }*/
    .flex-show-a {
    	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    	display: -ms-flexbox;  /* TWEENER - IE 10 */
    	display: -webkit-flex; /* NEW - Chrome */
    	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    	
    }
    
    .list-setting {
    	display: inline-block;
    	white-space: nowrap;
    }
    
    .uplinkflexs .row{
    	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    	display: -ms-flexbox;  /* TWEENER - IE 10 */
    	display: -webkit-flex; /* NEW - Chrome */
    	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    	
    	-webkit-box-align: center;
    	-webkit-flex-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	align-items: center;
    	justify-content: center;
    }
    
    .pro-ject-rightbar {
    	position: fixed;
    	right: 0;
    	top: 0;
    	width: 300px;
    }
    
	/*.full-row .panel-grid-cell,
	.full-row .panel-grid-cell {
		width: calc(50% - ( 0.5 * 0px ) ) !important;
		}*/
	}
	@media only screen and (min-width: 769px) and (max-width: 991px) { 

	}

	@media (max-width: 1024px) {
		
		.pro-ject-rightbar {
			width: 270px;
		}
		ul.list-unstyled.planslist li {
			padding: 12px;
			color: #596375;
		}
	}
	@media only screen and (max-width:992px){
    div#Refund_taxes .cli-ent-row.tr {
      height: 100%;
    }
    .billing_subs .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td .cli-ent-xbox{text-align: center}
    .billing_subs .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td {
      text-align: center;
      justify-content: center;
    }
    .dropdown-menu.pull-right.profile-dropdown {
      top: 57px;
    }
    .designer-list-here {
      flex-direction: column;
    }
    .report-dashboard .designer-list-here h3 {
      max-width: 100%;
      text-align: center;
    }
    .report-dashboard .designer-data h4 {
      transform: translatey(0px ); 
      margin-top: 10px; 
      text-align: center;
    }
    .designer-data li {
      width: 50%;
    }
    .project-stat {
      margin: 6px 0;
    }
    div#Admin_QA .cli-ent-xbox.action-per {
      text-align: center;
    }
    .managment-list li {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      text-align: center;
      align-items: center;
      border-right: 0;
    }
    .managment-list .email_title {
      text-align: center;
      width: 100%;
    }
    .managment-list .usericon img {
      margin: auto;
    }
    .managment-list .three-icon {
      justify-content: center;
    }
    .managment-list .three-icon>div {
      margin: 10px;
    }

    .client-hd-listing {
      margin-top: -34px;
      margin-left: 20px;
    }
    .product-list-show .cli-ent-row.tr.fullheight .client-hd-listing {
      margin: auto;
    }
    .product-list-show .cli-ent-row.tr.fullheight .upl-oadfi-le .attachfile {
      text-align: center;
    }
    .cli-ent-col.td.assign_va {
      text-align: center;
    }
    .tab-pane.active.view_clnts .cli-ent-col.td.action-per {
      text-align: center;
      display: block;
    }
    .product-list-show div#designerslist .cli-ent-row.tr.fullheight p.pro-b {
      text-align: center;
    }
    div#Admin_QA .mobile-visibles + .cli-ent-col.td {
      padding-bottom: 10px !important;
    }
    .tab-content>.active .cli-ent-col.td.client-project {
      margin-top: -17px;
    }
    .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td.flex-uses {
      justify-content: center;
    }
    .report-dashboard .nav.nav-tabs li a {
      font-size: 14px;
      padding: 6px 3px;
    }
    .report-dashboard .nav.nav-tabs li {
      margin: 10px 0;
    }
    .report-dashboard .nav.nav-tabs {
      margin-bottom: 10px;
      padding: 0 10px;
    }
    .product-list-show .row [class*="col-md-"] {
      width: 20%;
    }
    .managment-list ul {
      flex-direction: column;
    }
    div#sub-userlist .managment-list li {
      display: inline-block;
      margin: 4px 0;
      border-right: 0;
      padding: 0;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    div#management .switch-custom-usersetting-check.activate-user {
      width: auto;
    }
    .cli-ent-row.tr.brdr .cli-ent-xbox .name-disc {
      margin: -25px 0 0 20px;
    }
    .cli-ent-col {
      padding: 10px;
    }
    .dt-expire {
      /*   margin: 0 auto; */
    }
    .product-list-show .cli-ent-row.tr.fullheight h3 {
      height: auto;
      margin-bottom: 10px;
      overflow: visible;
    }
    .view_clnts .product-list-show .cli-ent-row.tr.brdr .cli-ent-col.td .cell-col {
      width: 100% !important;
      text-align: left;
    }
    .view_clnts .product-list-show .cli-ent-row.tr.brdr .cli-ent-col.td  figure {
      margin-left: 0;
      max-width: 40px;
      height: 40px;
    }
    .view_clnts .product-list-show .cli-ent-row.tr {
      overflow: hidden !important;
      height: 95px;
      border-bottom: 6px solid #f2f9ff;
    }
    .view_clnts .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td .cell-col {
      width: auto !important;
      text-align: center;
    }
    .view_clnts .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td figure {
      margin-left: auto;
      max-width: 60px;
      height: 60px;
      width: 60px;
      min-width: 60px;
    }
    .mobile-visibles + .cli-ent-col.td {
      padding-bottom: 0 !important;
    }
    .mobile-visibles {display: block;
      position: absolute;
      right: 20px;
      top: 25px;
      font-size: 24px;
      color: #e62344;
      cursor: cell;
      z-index: 9;
    }
    .product-list-show .cli-ent-row.tr {
      overflow: hidden !important; 
      height: 80px;    border-bottom: 6px solid #f2f9ff;
    }
    .product-list-show .cli-ent-row.tr.fullheight {
      overflow: hidden;
      height: 100%;
      background: #f1f9ff;
      border: 1px solid #99a7b0;
    }
    .header_searchbtn a {
      margin: 0 !important;
      margin-right: 6px !important;
    }
    .product-list-show .cli-ent-row.tr.tableHead {
     display: none;
   }
   .product-list-show .cli-ent-row.tr.brdr .cli-ent-col.td .cell-col a {
     position: relative;
   }
   .product-list-show .cli-ent-row.tr.brdr .cli-ent-col.td .cell-col a span.count_project {
     top: -42px;    font-size: 11px;
     line-height: 22px;
   }
   body #content .post .entry-content {
     float: none;
     margin: 0 7.6923%;
     width: auto;
   }
   .tab-content>.tab-pane .search-box {
     right: 0;
   }
   /**********/
   .nav-section .navbar-header {
     float: none;
     display: inline-block;
   }
   .nav-section .navbar-left,
   .nav-section .navbar-right {
     float: none !important;
   }
   .nav-section .navbar-toggle {
     display: block;
   }
   .nav-section .navbar-collapse {
     border-top: 0 solid transparent;
     box-shadow: inset 0 0 0 rgba(255,255,255,0.1);
   }
   .nav-section .navbar-fixed-top {
     top: 0;
     border-width: 0 0 0;
   }
   .nav-section .navbar-nav {
     float: none!important;
   }
   .nav-section .navbar-nav>li {
     float: none;
   }

   .nav-section .navbar-default .navbar-toggle {
     /*margin-top: 35px;*/
     float: none;
     display: inline-block;
     vertical-align: middle;
     margin: 0 0 0 15px;
   }

   .nav-section .navbar-default.sticky {
     padding: 5px 15px;	
   }

   /** **/
   a.custom-logo-link { text-align: center; padding: 10px;}
   a.custom-logo-link { max-width: 100%; display: inline-block; vertical-align: middle;}
   .custom-flex {  
     display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
     display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
     display: -ms-flexbox;  /* TWEENER - IE 10 */
     display: -webkit-flex; /* NEW - Chrome */
     display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
     -webkit-box-align: center;
     -webkit-flex-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
     justify-content: center;
   }
   .pro-desh-box { width: 100% !important; }
   .pro-desh-row,.pro-desh-box { display: block; }
   .dcol-1,.dcol-2 { width: 100%;}
   .pro-desh-box { border-bottom: 1px solid #d2d2d2; border-right: none; }
   .pro-desh-box:last-child { border-bottom: none;}

   .settingedit-box {
     margin-bottom: 15px;
     min-height: auto;
   }

   .list-header-blog {
     display: table;
     margin-left: auto;
     margin-right: auto;
   }
   .flex-show-em {
     display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
     display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
     display: -ms-flexbox;  /* TWEENER - IE 10 */
     display: -webkit-flex; /* NEW - Chrome */
     display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
     -webkit-box-align: center;
     -webkit-flex-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }

   .project-row-qq1 {
     margin-bottom: 20px;
   }

   .orb-xb-col.left {
     width: 100%;
   }
   .pro-ject-leftbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110px;
    overflow-y: auto;
    height: calc( 100vh - 70px );
  }
  .imgobxbins {
   width: 105px;
 }
 .orbxbin-list li {
   margin-bottom: 10px;
   float: left;
   margin-right: 10px;
 }

 .box-setting { 
   text-align: center;
   position: absolute;
   right: 15px;
   top: 20px;
 }
 .cli-ent-row.tr {
   display: block;
 }
 .cli-ent-col.td {
   display: block;
   vertical-align: middle;
   width: 100% !important;
 }
 .pro-ject-top-cat {
   margin-left: 0;
   margin-right: 270px;
 }
 .pro-ject-wrapper.dot-comment .pro-ject-top-cat {
   margin-left: 0;
   margin-right:0px;
 }
 .cli-ent-row.tr.brdr .cli-ent-col + .cli-ent-col {
   border-left: none;
   border-top: 1px solid #ddd;
 }
 .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td {
  /*     text-align: center; */
}
.product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td p.text-a {
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td.flex-uses figure.cli-ent-img.circle.one {
  margin: 8px;
}
.product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td.flex-uses .cli-ent-xbox.text-left {
  width: auto;
}
.cli-ent-xbox .cell-row .cell-col {
 display: block;
 padding: 7px 0;
 margin: 0 auto;
}
.report-dashboard .analytic-box {
  margin: 10px 0;
}
section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0px 40px;
  flex-direction: column;
}
.project-information {
  padding-right: 100px;
}
}

@media (max-width: 767px) {
  .profile_info .profile.colm {
    width: 100%;
}
.displayed-pic .dp-here {
    margin-right: 0;
    margin-bottom: 30px;
}
  .cli-ent-model-box .displayed-pic {
    flex-wrap: wrap;
  }
  .displayed-pic .profile_info {
    width: 100%;
  }
  .con-b .list-header-blog.client-inform {
    margin-left: 0px !important;
    width: 100%;
    margin-bottom: 0;
  }
  .list-header-blog.client-inform li {
    display: inline-block;
  }
  ul.gz-breadcrumb {
    display: none;
  }
  .headerWithBtn .addPlusbtn {
    position: relative;
    margin-bottom: 30px;
  }
  a.new-brand.addderequesr {
    display: inline-block;
    margin-bottom: 20px;
  } 
  .datepicker_tax_sec .date-report {
    align-items: flex-start;
    flex-direction: column;
  }
  .datepicker_tax_sec .date-report p {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
  .header_searchbtn a {
    margin-top: 5px !important;
  }	
  .cli-ent-row.tr.brdr.not-styler .cli-ent-col.td {
    display: block !important;
  }
  .cli-ent-row.tr.brdr.not-styler .cell-col {
    width: 100% !important;
  }
  .blo_ge .cell-row.container { position:relative !important;
    width: 100% !important; bottom:0 !important;
  } 
  .cell-row.container {
   width: 48%;
 }
 .cell-row.container .col-md-8{
   width: 75%;
   float: left;
 }
 .cell-row.container .col-md-4{
   width: 25%;
   float: left;
 }
 .plan_row .col-md-8{
   width: 60%;
   float: left;
 }
 .plan_row .col-md-4{
   width: 40%;
   float: left;
 }
 .col-md-3.subscription_grid {
   width: 50%;
   float: left;
 }
 .plan_row .list-header-blog{
   margin-left: 0px;
 }
 .ddnos.mobile .descol.right-instbox {
   margin-top: 5px;
   text-align: left;
 }
 .head-b { font-size: 18px; line-height: 25px;}
 .review-textcolww { font-size: 16px; }
 .flex-show-em1 .fulmoble { width: 100%; }
 .search-sec-uu8,
 .flex-show-em1 .fulmoble .descol { text-align: center; }
 .flex-show-em1 .fulmoble+.fulmoble { margin-top: 10px; }

 .list-tab-xx5 { display: table; margin-left: auto; margin-right: auto; }
 .list-tab-xx5 > li { display: block; text-align: center; margin-bottom: 15px; }
 .list-tab-xx5 > li a { display: inline-block; }
 .radio-box-xx2 { max-width: 100%; }
 .radio-box-xx2 + .radio-box-xx2 { margin-left: 0; }
 .cat-form-xx123 .radio-box-kk2 { white-space: normal; }
 .right-lesscol .plan-boxex-xx6 .radio-box-xx2 {  
   margin-left: 0;
   margin-bottom: 15px;
 }

 .uplinkflexs .row > .col-xs-6,
 .uplinkflexs .row > .col-xs-4 {
   width: 100%;
   text-align: left;
   margin-bottom: 15px;
 }

 .savecols-col.right,
 .savecols-col.center {
   text-align: left;
 }
 .cat-form-xx123 {margin-top: 15px; }
 .uplink-row .uplink-col { display: block; text-align: left; margin-bottom: 15px; }
 .uplink-row .uplink-col.right { text-align: left; }
 .pro-ject-rightbar { position: relative; width: 100%; }
 .pro-ject-wrapper { padding-left: 15px;padding-right: 15px;}

 .list-comment-es { max-height: 350px; }

 .pro-ject-leftbar,
 .pro-ject-rightbar {
   border: 1px solid #cfcfcf;
   border-radius: 7px;
   background-color: #ffffff;
   overflow: hidden;
   margin: 0 0 15px;
   width: 100%;
 }

 .pro-ject-centbar {
   overflow: hidden;
   margin: 30px 0 15px;
 }

 .pro-ject-rightbar .comment-box-row {
   padding: 15px 0 45px;
 }
 .pro-ject-top-cat {
   margin-left: 0;
   margin-right: 0;
 }

 .de-signdraft {
   padding-bottom: 15px;
   padding-top: 7px;
 }
 .de-signdraft .savecols-col.left{
   text-align: center;
 }
 .header-blog .row.flex-show .flex-this {
  flex-direction: column;
  align-items: flex-start;
}
.header-blog .row.flex-show .flex-this h2.main_page_heading {
  margin-bottom: 10px;
}
.header-blog .row.flex-show .flex-this .header_searchbtn {
  flex-wrap: wrap;
  padding-right: 40px;
}
.header-blog .row.flex-show .flex-this .header_searchbtn a {
  display: inline-block;
  float: none;
}

a#download_rquests, .filter-site {
  display: inline-block;    margin-top: 5px;
}
.search-first {
  position: absolute;
  right: 0;
  bottom: 0;
}
.modal.similar-prop {
  padding-left: 0 !important;
}
.admin-sidebar {
width:0px;
    cursor: pointer;
}
.admin-sidebar .arrow_btn{cursor: pointer;}
.admin-sidebar.open{width: 260px;}
.admin-sidebar ul.side-nav li, .admin-sidebar ul.side-nav li a{
  height: 45px;
}
.admin-sidebar ul.side-nav li a img {
  top: 15px;
  left: 15px;
  max-width: 20px;
  max-height: 20px;
}
.admin-sidebar ul.side-nav li a span {
  padding: 0 0 0 55px;
  line-height: 45px;
  height: 45px;
}
.admin-sidebar ul.side-nav {
  width: auto;
}
.project-info-page .content_section {
  width: 100%;
  padding: 25px;
}
.project-info-page .side_bar {
  position: unset;
  width: 100%;
  height: 100%;
  float: left;
  width: 100%;
  padding-top: 0;
  margin-bottom: 20px;
}
.admin-wraper {
  padding: 80px 0px 0 0px;
}
h2.main-info-heading {
  font-size: 16px;
}
.detailed-item ul li {
  flex: 0 0 100%;
  max-width: 100%;
}
.nav-section nav.navbar.navbar-default.flex-show{
  padding: 0px;
}
div#activity_timeline .addPlusbtn {
    position: absolute;
}
}
@media (max-width: 667px){
  .cell-row.container {
   width: 53%;
 }
}
@media (max-width: 600px) {		
  .desh-inblock { display: block; }
  .desh-inblock+.desh-inblock  { margin-top: 15px; }
  .pro-box-r2 .pro-head { height: auto; }
  .pro-box-r2 { min-height: auto; }
  .pro-box-r1 { min-height: auto; }
  .pro-box-s1 { min-height: 150px; line-height: 150px; }
  .list-designdraftnew li {width: 100%;}
  .head-b { font-size: 16px; }
  .srd-row.mobile { display: block; }
  .srd-row.mobile .srd-col.right{ margin-top: 10px; text-align: left; }
  .list-setting > li {margin-left: 15px; }
  .cell-row.container {
   width: 60%;
 }
}

@media (max-width: 568px) {
  .cell-row.container {
   width: 63%;
 }
 .plan_row .col-md-8 {
   width: unset;
   float: unset;
   margin-bottom: 20px;
 }
 .col-md-3.subscription_grid {
   width: 80%;
   float: unset;
   margin-left: auto;
   margin-right: auto;
 }
 .header-blog .list-unstyled.list-header-blog li {
  width: 46%;
  display: inline-block;
}
.header-blog .list-unstyled.list-header-blog li a {
  border-right: 0;
  padding: 0;
  padding: 7px;
  margin: 0;
  font-size: 12px;
}
.con-b {
  padding: 20px 0;
}
.header-blog .flex-this {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}
section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress .flex-this a {
    margin-left: 0;
    margin-bottom: 10px;
}
select.form-control.statusselect.select-b {
    margin-left: 0;
}
section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress {
    margin: 0px 0px 0px;
}
.tabs-card ul.designer-graph li {
  flex: 0 0 100%;
  max-width: 100%;
}
.tabs-card.marge-it .col-md-4.col-sm-6 {
  width: 100%;
}
.notification-box ul.list-unstyled.list-notificate .notifitext {
  white-space: normal;
}
}
@media (max-width: 414px) {
  .cell-row.container {
   width: 85%;
 }
}
@media (max-width: 480px) {
    section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress {
    margin: 0px 0px 0px;
}
  body .white-boundries {
    padding: 15px;
  }
  .cli-ent.table .settingedit-box .cli-ent-xbox label.label-x2 {
    text-align: left;
    font-size: 12px;
  }
  .tabs-card {
    padding: 15px ;
  }
  .report-dashboard {
    padding: 20px 0;
  }

  .project-information {
   padding-right: 0px; 
   width: 100%;
 }
 .header-blog .focusout-search-box .search-box.magic_search {
  width: 300px;
}
.list-header-blog > li {
 margin-right: 0;
 display: block;
}
.yss1 .settcol.left ,
.cyclebox25 .settcol.left { width: 100%; display: block; }
.yss1 .settcol,
.cyclebox25 .settcol{ display: block; text-align: left;  }
.cyclebox25 .settcol {margin-top: 7px;}
.review-textcolww { font-size: 14px; }

.posone1,.posone2 {
 display: none;
}
.bl-ogaction a {
  padding: 0 !important;
}
section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress .flex-this {
  flex-wrap: wrap;
}
section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress .srd-col.status_opt {
  flex: 0 0 100%;
}
section.con-b.project-info-page .content_wrapper .rheight-xt.d-progress .srd-col.status_opt select.form-control.statusselect.select-b {
  margin-left: -3px;
  margin-top: 15px;
}
.notification-box .notifitext p span.time-date {
  float: none;
  display: block;
}

}

@media (max-width: 360px) {	
  .nav-section .navbar-default .navbar-toggle {
   margin: 0 10px 0 0;
 }
}
