@charset "utf-8";
/* CSS Document */

.dropbtn {
                background-color: inherit;
                font-size: 16px;
                border: none;
                cursor: pointer;
                margin-top: 30px;
            }
            *:focus {
                outline: none;
            }
            .dropbtn:hover, .dropbtn:focus {

            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }


            .show {display:block;}
            .dropdown button i {
                border: 1px solid;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                margin-left: 5px;
            }
            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            /*Header signup button*/
            li.signlink a:hover {
                color:white !important;
                background:#f23f5b !important;
                border: 1px solid #f23f5b !important;
            }
            li.hoverred a:hover{
                border-bottom:1px solid #f23f5b;
                color:#1A3147 !important;
                opacity:1;
            }
            .btn-secondary{
                color: #1a3147 !important;
                border: unset;
                background: unset;
                font-size: 14px;
                margin-top: 30px;
                font-weight:600;
                padding:8px;
            }
            a.dropdown-item {
                font-weight: 600;
                font-size: 14px !important;
                background: #fff;
                padding-bottom: 5px;
            }
            .btn-secondary:hover {
                color: #373a3c;
                background-color: #f6f7fb !important;
                border-color: #ffffff !important;
            }
            .notdropdown:after{
                border-right: unset !important;
                border-left: unset !important;
            }
            .mnotification
            {
                background: #e42244;
                color: #fff;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                line-height: 15px;
                text-align: center;
                font-size: 13px;
                display: inline-block;
                position: absolute;
                padding-top: 3px;
                padding-right: 5px;
                margin-top: 2px;
                left: 7px;
            }

 /* padding css start */
                .pb0{ padding-bottom:0px; }
                .pb5{ padding-bottom:5px; }
                .pb10{ padding-bottom:10px; }
                .pt0{ padding-top:0px; }
                .pt5{ padding-top:5px; }
                .pt10{ padding-top:10px; }
                .pl0{ padding-left:0px; }
                .pl5{ padding-left:5px; }
                .pl10{ padding-left:10px; }
                /* padding css end */
                .greenbackground { background-color:#98d575; }
                .background_1st { background-color:#98d575; }
                .background_2nd { background-color:#f7941f; }
                .background_3rd { background-color:#409ae8; }
                .greentext { color:#98d575; }
                .orangebackground { background-color:#f7941f; }
                .pinkbackground { background-color: #ec4159; }
                .orangetext { color:#f7941f; }
                .bluebackground { background-color:#409ae8; }
                .bluetext{ color:#409ae8; }
                .whitetext { color:#fff !important; }
                .blacktext { color:#000; }
                .greytext { color:#cccccc; }
                .greybackground { background-color:#ededed; }
                .darkblacktext { color:#1a3147; } 
                .pinktext { color: #ec4159 !important; }
                .weight600 { font-family: 'ProximaNovaBold'; font-weight: bold; }
                .font18 { font-size:18px; }
                .textleft { text-align:left; }
                .textright { text-align:right; }
                .textcenter { text-align:center; }
                .pl20 { padding-left:20px; }

                .numbercss{
                    font-size: 25px !important;
                    padding: 8px 0px !important;
                    font-weight: 600 !important;
                    padding: 40px 0px 0px 0px !important;
                    width: 70px;
                }
                .projecttitle{
                    font-size: 20px;
                    line-height:18px;
                    padding-bottom: 0px;
                    text-align: left;
                    padding-left: 20px;
                    text-transform: capitalize;
                }
                .trborder{
                    border: 1px solid #000;
                    background: unset;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                table {     border-spacing: 0 1em; }
                .trash{     
                    color: #ec4159;
                    font-size: 25px; 
                }
                #loading {
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    position: fixed;
                    display: block;
                    opacity: 0.7;
                    background-color: #fff;
                    z-index: 99;
                    text-align: center;
                }

                #loading-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 100;
                    width: 100px;

                }
                .projectstatus{ font-size:15px; text-transform: capitalize; }
                .projectdesc{ font-size:13px; }
                .content .nav-tab-pills-image .nav-item.active a input{
                    background-color:unset;
					
                }
                .content .nav-tab-pills-image .nav-item.active a {

                  border-bottom: 6px solid #ec1c41 !important;
					 color: #1b3248;
					min-width: auto;
					background: transparent;
                }

                .wrapper .nav-tab-pills-image ul li .nav-link:hover{
                    color:#000;

                }

                .wrapper .nav-tab-pills-image ul li .nav-link{
                    color: #a3a8ae;padding: 30px 0px; font-weight: bold;                
                }

                .nav-tab-pills-image ul li .nav-link:hover {
                    border-bottom: none !important;
                }
                .wrapper .nav-tab-pills-image ul li .nav-link:focus
                {
                    color:#1b3248;
                }
                .content .nav-tab-pills-image .nav-item.active a:hover{
                    color:#1b3248;

                }
                .content .nav-tab-pills-image .nav-item.active dd {
                    background:unset !important;
                }
                .nav-tab-pills-image ul li .nav-link:hover {
                    border-bottom: none !important;
                } 
                .table-hover tbody tr:hover {
                    background-color: rgba(0,0,0,.075);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }	
                .trborder{
                    border: 1px solid #000;
                    background: unset;
                    box-shadow:unset;
                }
 .chatbox {
                    display: block;
                    margin-bottom: 10px;
                    margin-top: 5px;
                    margin-right: 20px;
                }
                .chatbox.leftchat {
                    max-width: 99%;
                }

/*header*/


.mytab .tabmenu{min-width: auto}

.custlogo{background-color: #1b3248; text-align: center;height: 100px;padding-top: 20px;}
.custlogo img {width: 80px;}
.header-inner {
	background: #e52344;
	float: left;
	height: 100px;
	width: 100%;
}
#content-wrapper .content{padding: 15px}
.header-inner-md-10{margin-top: 10px;padding-left: 0;}
.header-inner-md-10 .dropdown{padding-right:0px;padding-left:35px;}

.header-inner-md-10 .dropdown #dropdownMenuButton{ margin-top: 25px; color: #fff !important}
.header-inner-md-10 .dropdown #dropdownMenuButton.btn-secondary:hover{background-color: transparent !important;
border-color: transparent!important;}

.header-inner .navbar-right{float: right}
.topmessageboxmain .btn i{color:#fff;font-size: 20px;padding: 0px 0px;float:right;border: unset;padding-right:15px;}
.btn-account{background: transparent;margin-top: 20px; padding: 0;}

/*design request*/
.nav-tab-pills-image.mytab .nav-tabs{background: #fafafa;}
.float-right{float: right !important}
.nav-item.float-right input{border:none; background: transparent;width: 75px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;}
.nav-item.float-right input:focus{width: 300px;}
.card-project {
	float: left;
	width: 100%;
	border: 1px solid #ededed;
	margin-top: 50px;
	position: relative;
	min-height: 276px;
}
.card-first-sec {
	background: #fafafa;
	padding: 8px 13px 8px;
	float: left;
	width: 100%;
}
.card-first-sec .label.label-default, .status-detail .label.label-default {
	background: #b9c2cb;
	color: #fff;
	padding: 2px 6px;
	border-radius: 5px;
	font-weight: 700;
	float: left;
	text-transform: uppercase;
	font-size: 10px;
}

.card-first-sec .name_of_project {
	float: left;
	color: #192f45;
	font-size: 20px;
	letter-spacing: 0;
	font-weight: bolder;
}
.card-first-sec .dropdown{float: right;}
.card-first-sec .dropdown button{margin-top: 0px;}
.second-sec-card{
    float: left; width: 100%;
    cursor: pointer;
}
.priority_of_project {
	float: right;
	color: #a3a8ae;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: uppercase;
	font-size: 19px;
	margin-right: 7px;
}
.second-sec-card .label{float: left}

.card-first-sec .dropdown > button{
    padding: 0;
    outline: none;
}
.card-first-sec .dropdown > button:hover,.card-first-sec .dropdown > button:focus{
    outline: none;
    background-color: none !important;
    border-color: none !important;
}

.card-first-sec .dropdown button i{border: none; font-size: 25px;}

.card-first-sec .dropdown .dropdown-toggle::after {
    display:none
}
.card-first-sec .dropdown-menu{
    top: -32px;
    right: 7px;
    left: unset;
    padding: 0;
    min-width: 8rem;
}


.second-card-sec{
    float: left; width: 100%;
    cursor: pointer;
}
.expected-on {
	float: left;
	width: 100%;
	padding: 10px 10px;
	text-align: center;
	
}
.allocated-to {
	text-align: center;
	padding: 29px 9px 10px;
	float: left;
	width: 100%;
}
.allocated-to img {
	width: auto;
	float: none;
	display: inline-block;
	max-width: 70px;
    margin-bottom: 10px;
}
.expected-on h5 {
	font-size: 13px;
	float: none;
	margin-right: 9px;
	display: inline-block;
}
.expected-on span {
	font-weight: bold;
	color: #000;
	font-size: 14px;
	float: none;
	margin-top: 5px;
	display: inline-block;
}
.allocated-to p{
    line-height: 20px;
    color: #000;
    min-height: 55px;
}

.card-first-sec .dropdown .dropdown-menu{text-align: center;}
.card-first-sec .label.label-danger{color: #fff;
padding: 4px 10px;
border-radius: 4px;
font-weight: bold;
position: absolute;
left: -6px;
top: -15px;
}
.card-first-sec .dropdown-item,.card-first-sec .dropdown-item a{font-size: 12px;}
.card-first-sec .dropdown-item:focus, .card-first-sec .dropdown-item:hover, .card-first-sec .dropdown-item:focus a, .card-first-sec .dropdown-item:hover a{
    background: none;
    color: #e52344;
}
.card-first-sec .btn-secondary.active, .card-first-sec .btn-secondary:active, .card-first-sec .open > .btn-secondary.dropdown-toggle{
    background: none;
}

.card-first-sec .dropdown .dropdown-menu button,.card-first-sec .dropdown .dropdown-menu li{
    padding: 10px 0px;border-bottom: 1px solid #eee; font-weight: 600;
}
.card-first-sec .dropdown .dropdown-menu button:last-child,.card-first-sec .dropdown .dropdown-menu li:last-child{border:0}
.card-first-sec .dropdown i{color:#a3a8ae}
.third-sec-card{float: left; width: 100%; background-color: #fafafa}
.attachment-sec {
	float: left;
	width: 50%;
	border-right: 1px solid #ededed;
	text-align: center;
	margin: 6px 0px;
	padding: 7px 0px;
}
.messages-card {
	float: left;
	width: 50%;
	text-align: center;
	margin: 6px 0px;
	padding: 6px 0px;
}
.attachment-sec i, .messages-card i, .messages-card h6, .attachment-sec h6 {float: none;display:inline-block;;cursor: pointer}
.messages-card h6, .attachment-sec h6 {
	font-size: 14px;
	font-weight: 600;
}
.attachment-sec i, .messages-card i{font-size: 20px;}

.attachment-sec i{color: #a3a8ae;}
.messages-card i{color:#a3a8ae}
.attachment-sec.active i{color: #e52344;}
.messages-card.active i{color:#f7941f}
.slide-info {
	background: #fff;
	float: left;
	width: 100%;
	padding: 1px 20px;
	border: 1px solid #ededed;
	border-top: 0;
}
.slide-info p{line-height: 22px;color:#000; padding-top: 10px;}
.slide-info span {
	text-align: center;
	width: 100%;
	float: left;
}
.slide-info span i{font-size: 18px; cursor: pointer}
.arrow-up{transform: rotate(180deg);}
.add-new-project {
	background-color: #fafafa;
	float: left;
	width: 100%;
	border: 1px solid #ededed;
	margin-top: 50px;
	position: relative;
	min-height: 360px;
	text-align: center;
}
.add-new-project span {
	float: left;
	color: #E52344;
	margin-right: 0px;
	margin-top: 6px;
}
.add-new-project h5 {
	float: left;
	color: #192f45;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 0;
}
.add-new-project span i{font-size: 20px;}
.innre-add-project {
	float: none;
	display: inline-block;
	position: absolute;
	top: 51%;
	left: 42%;
	transform: translate(-42%,-50%);
}
/*view request*/
h2.content-title-main{text-transform: capitalize;
color: #1b3248;}

.status-detail{float: right; margin-top: 12px;}
.draft-title {
	float: left;
	border-bottom: 1px solid #eee;
	line-height: 36px;
	width: 100%;
	margin-bottom: 20px;
}
.float-left{float: left}
.float-right{float: right}
.designer-name h6{float: left;}

.designer-name span{float: left;
    line-height: 23px;

}
.info-left-div {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 7px;
	padding: 20px 15px 0;
    box-shadow: 0 0 15px rgba(0,0,0, 0.2);
    overflow: hidden;
}

.controll-scroll .filesbox-img img {
	min-height: 100%;
    width: 100%;
    object-fit: cover;
}


.controll-scroll .filesbox-img{text-align: center}
.controll-scroll{
	overflow-y: auto;
	max-height: 500px;
	height: 500px;
}
.controll-scroll .mCSB_scrollTools .mCSB_draggerRail{

}

.controll-scroll .filesbox-img {
	position: relative;
	height: 245px;
	overflow: hidden;
}
.controll-scroll .filesbox-img a{height: 100%}
.controll-scroll .filesbox-img span{position: absolute;
left: 45px;padding: 9px 25px;}

.chat-main.chat_view_file{
    padding: 20px 0 0;
}
.chat-main h3{border-bottom: 1px solid #eee;
margin-bottom: 10px;}
.chatbox2.rightchat .rightchatmain{background-color: #1a3147 !important; }
.send-msg-to{float: left; width: 100%; padding-bottom: 10px;}
.send-msg-to img {max-width: 50px; float: left; border-radius: 50%;}
.send-msg-to h5 {
	float: left;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}
.chatbox2 .title{color:#fff !important}
.chatbox2 .description{color:#fff; font-weight: 300 }
.chatbox2 .posttime{color:#e52344}
.chatbox2 .message-text-wrapper::before {color: #1a3147 !important;}
.leftchatmain{background-color: #ecf0f4 !important}
.leftchatmain .title{
	color: #999;}
.leftchatmain .description {
	font-weight: 300;
	color: #999;
}

.chatbox2 .rightchatmain{
    width: 100%;
    max-width: 90%;
}


.leftchat .avatar{display: none}
.chatbtn-boxmain .form-control {padding: 20px 10px;
border: 0 !important;
border-top: 1px solid #eee !important;}


.chatbtn-boxmain .chatsendbtn{padding: 16px 16px; border-radius: 0px;}


/* css 2 may 2018 */.

.new_controll_scroll .mCSB_dragger_bar{
    margin-right: 0 !important;
    width: 8px !important;
}
.new_controll_scroll .files-box .label{
    font-size: 19px;
    left: 0;
}

.project_information_section .draft-title{
    border-width: 2px;
    padding-bottom: 10px;
}
.project_information_section .designer-name{
    float: left;
    margin: 3px 0 0 25px;
    position: relative;
}
.project_information_section .designer-name input{
    min-width: auto;
    height: auto;
    min-height: auto;
    padding: 3px;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
}
.project_information_section .designer-name span{
    font-size: 21px;
    color: #e42244;
}

.project_information_section .font16 h4{
    line-height: 24px;
}
.project_information_section .font16 span{
    text-transform: capitalize;
    font-size: 15px !important;
}

.hedalert{
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    padding: 1px;
}


/* change profile page */

/*
.setting_tabs ul{
    margin-bottom: 0 !important;
}
.setting_tabs .nav-pills .nav-item{
    padding-left: 0;
}
.setting_tabs .nav-pills .nav-link{
    color: #9da0a3 !important;
    line-height: 28px;
    font-size: 22px;
    font-family: 'ProximaNovaBold';
    font-weight: bold;
    padding: 20px 15px;
    border-bottom: 3px solid transparent;
    border-radius: 0;
}
.setting_tabs .nav-pills .nav-item.active .nav-link, .setting_tabs .nav-pills .nav-item.active .nav-link:focus, .setting_tabs .nav-pills .nav-item.active .nav-link:hover, .setting_tabs .nav-pills .nav-link.active, .setting_tabs .nav-pills .nav-link.active:focus, .setting_tabs .nav-pills .nav-link.active:hover{
    color: #1a3147 !important;
    background: none;
    border-bottom: 3px solid #e52344;
}
*/

.setting_tabs_link a{
    padding: 15px 15px !important;
    margin-right: 20px;
}
.setting_tabs_link a.active{
    border-bottom: 5px solid #e52344;
}

.my_profile_sec .changeprofilepage{
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
    padding: 15px 15px 25px;
    border-radius: 5px;
}
.my_profile_sec .pmformmain{
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
    padding: 30px;
    border-radius: 5px;   
}
.my_profile_sec .pmformmain .inplabel{
    font-size: 14px;
}

.heading{
    color: #1a3147;
    font-size: 21px;
    padding-bottom: 6px;
    font-weight: bold;    
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.pmformmain .form-control{
    min-height: 32px;
    padding: 6px 10px;
    border-color: #E4E4E4 !important;
}
.pmformmain .form-control.change_pass{
    background-color: #e52344;
    border-color: #e52344 !important;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    display: inline-block;    
    border:none;    
    border-radius: 6px !important;
}
.pmformmain .form-control.save_info{
    background-color: #192F46;
    border-color: #192F46 !important;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    display: inline-block;    
    border-radius: 6px !important;
    text-transform: uppercase;    
    margin-top: 10px;
}

.profile_image_sec .imagemain{    
    float: left;
    margin-right: 15px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 15px;
}
.profile_image_sec .imagemain .edit_icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    padding-left: 7px;
    font-size: 7px;
}

.profile_image_sec .imagemain img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.profile_image_sec .text_bx{    
    padding-top: 15px;
}
.profile_image_sec .name{
    text-align: left;
    color: #1a3147;
    font-size: 18px;
    padding-bottom: 3px;
    font-weight: bold;
    text-transform: capitalize;
}
/*.profile_image_sec .text_bx input{
    padding: 4px 10px;
    background-color: #000;
    color: #fff;
    width: auto;
    height: auto;
    min-height: auto;
}*/
.text_span{text-align: left;}
.text_span span{
    display: inline-block;
}
.text_span .one{    
    margin-right: 5px;
    background-color: #000;
    color: #fff;
    padding: 0px 9px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.text_span .two a{
    color: #e52344;
    font-size: 12px;
}

.change_pass_modal .modal-header{
    background-color: #e52344;
}
.change_pass_modal .modal-title{
    color: #fff;
}
.change_pass_modal .inplabel{
    font-size: 15px;
    margin-bottom: 5px;
    color: #1a3147;
    font-weight: bold;
}

.my_profile_sec .dropify-wrapper .dropify-preview .dropify-render img{
    max-height: unset !important;
    width: auto !important;
    max-width: 100% !important;
}


/* billing_subscription page */
.billing_subs_left,.billing_subs_right{
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
    padding: 15px 25px;
    border-radius: 5px;
}
.billing_subs_left .card-js label{
    display: block !important;
}
.billing_subs_left .pmformmain .inplabel{
    font-size: 14px;
}
.change_card_details{
    padding: 0;
    margin-top: 20px;
}
.change_card_details .site-btn{
    width: 100%;
    background-color: #ec1c41 !important;
    padding: 15px 15px;
    border-radius: 6px;
    border-color: #ec1c41 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}


.billing_subs_right .pricing-package-main{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.billing_subs_right .heading{
    padding-bottom: 10px;
}
.billing_subs_right .update_subs{    
    margin-left: 15px;
    display: inline-block;
    position: relative;
    top: -4px;
}
.billing_subs_right .update_subs input{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #ec1c41;
    border-radius: 6px;
    padding: 8px 15px;    
    line-height: 14px;    
}

.billing_subs_right .pricingpackage{
    box-shadow: none;
    border: 1px solid #eee;
}
.billing_subs_right .pricingpackage-box .offer{
    min-height: 45px;
}
.billing_subs_right .pricingpackage-box .offer p{
    background-color: #192F46;
    padding: 10px 15px !important;
    text-transform: uppercase;
    min-height: auto;
    font-size: 18px;
}
/* billing_subscription page */


/* draft page css */
.table_draft_sec .table-hover tbody tr:hover{
    box-shadow: none;
}
.table_draft_sec .table td, .table_draft_sec .table th{
    border-bottom: 1px solid #eceeef;
}
.table_draft_sec .greybackground{
    background-color: #B9C2CB;
    font-size: 15px !important;
    padding: 35px 0 0!important;    
    font-weight: bold;    
    text-transform: uppercase;
    letter-spacing: 0;
}
.table_draft_sec .desc{
    text-align: left;
}
.table_draft_sec .desc p{
    line-height: 18px;
}
.table_draft_sec .desc .projecttitle{
    padding-left: 0;
    font-size: 16px;    
    padding-top: 10px;
}
.table_draft_sec .desc .queue{
    background-color: #B9C2CB;
    font-size: 10px;
    padding: 2px 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}
.table_draft_sec .notification{
    background-color: #FAFAFA;
    padding: 15px 5px;    
    border-top: 1px solid #FAFAFA;
    border-bottom: 1px solid #FAFAFA !important;
}
.table_draft_sec .notification .file{
    border-bottom: 1px solid #eee;
    padding: 0 0 5px;
    margin-bottom: 5px;
    color: #A0A0A0;
}
.table_draft_sec .notification .file i{
    font-size: 18px;
    padding-right: 0;
    vertical-align: text-bottom;
}
.table_draft_sec .notification .darkblacktext{
    padding-bottom: 0;
    color: #A0A0A0;
}
.table_draft_sec .notification .darkblacktext img{
    filter: grayscale(1);
}
.table_draft_sec .notification .num{
    color: #1a3147 !important;
}
.table_draft_sec .designer_assig{    
    padding: 15px 5px;
    padding-top: 30px;    
}
.table_draft_sec .designer_assig p{
    padding: 0;
    line-height: 16px;
}
.table_draft_sec .update{
    border-right: 1px solid #eceeef;
    padding: 5px;
}
.table_draft_sec .update .upd{
    border-left:  1px solid #eceeef;
    min-height: 65px;    
}
.table_draft_sec .update span{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}
.table_draft_sec .update .edit{
    font-size: 26px;
    color: #E52344;
    margin-right: 25px;
}

.table_draft_sec .update .updc{
    min-height: 80px;
}

.table_draft_complete table tbody tr{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.table_draft_complete .completed{
    border-left: 5px solid #3EC075;
    border-right: 1px solid #eceeef;
}
.table_draft_complete .completed span{
    color: #1a3147;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;
    display: inline-block;
}
.table_draft_complete .desc .projecttitle{
    padding-top: 15px;
}
.table_draft_complete .desc .queue{
    background-color: #192F46;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 10px 1px;
}
.table_draft_complete .designer_assig{
    padding: 5px;
}
.table_draft_complete .designer_assig img{
    height: 50px;
    width: 50px;
    margin-bottom: 3px;
}
.table_draft_complete .designer_assig p{
    font-size: 12px;
    line-height: 13px;
}
.table_draft_complete .update .upd{
    min-height: 80px;
    padding: 25px 0;
}
.table_draft_complete .update .upd span{
    margin-top: 0;
}
.table_draft_complete .update p{
    font-size: 14px;
    text-transform: uppercase;
    color: #E52344;
    padding: 0;
    font-weight: bold;
    line-height: 16px;
}
.table_draft_complete .completed .placeholder_img {
  border-radius: 50%;
  height: 75px;
  width: 78px;
  background: #e52344;
  box-shadow: 0 0 20px #aaa;
}
.table_draft_complete .completed .placeholder_img span {
  color: #ffffff;
}

/* image detail page */
.back_to_files{padding-left: 35px;}
.back_to_files a{
    display: inline-block;
    background-color: #1F364A;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 14px 12px 8px;
    position: relative;
    border-radius: 0 10px 10px 0;
}

.back_to_files a:before{
    content: '';
    position:absolute;
    left: -33px;
    top: 0;
    bottom: 0;
    width: 60px;
    background: url(img/left-bullet.png) no-repeat left center;
}


.file_approve_dv .title{
    font-size: 16px;
    color: #1a3147;
    font-weight: bold;
}
.file_approve_dv .time{
    font-size: 12px;
    float: right;
    color: #B3B3B3;
}
.file_approve_dv .approve{
    font-size: 16px;
    display: block;
    padding: 10px;
    color: #5BC689;
    border: 2px solid #5BC689;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

.chat_view_file .heading{
    margin-bottom: 0;
    border-top: 1px solid #eee;
    border-bottom: none;
    padding-top: 10px;
    font-size: 18px;
}

.chat_view_file .chatbox{
    margin: 0;
}
.chat_view_file .chatbox .message-text-wrapper{
    border-radius: 0 !important;
    box-shadow: none;
    border-bottom: 1px solid #eee;
}
.chat_view_file .avatar{
    position: relative;
}
.chat_view_file .chatbox .avatar{
    float: none;
    width: 100%;
}
.chat_view_file .avatar .user{
    color: #000 !important;
    font-weight: bold;
    display: inline-block;
}
.chat_view_file .avatar .posttime{
    float: right;
    display: inline-block;
    padding-top: 10px;
    color: #B3B3B3;
}
.chat_view_file .description{
    color: #B3B9C1;
    margin-top: 8px;
    line-height: 16px;
}
.chat_view_file .chatbox2{
    margin: 0;
    display: block;
}
.chat_view_file .chatbox2 .message-text-wrapper{
    width: 100%;
    display: block;    
    border-radius: 0;    
    position: relative;    
    background: #F4F4F4;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #e2e2e8;
}
.chat_view_file .chatbox2 .message-text-wrapper:before{
    display: none;
}
.chat_view_file .chatbox2 .cir,.chat_view_file .chatbox .cir{
    height: 20px !important;
    width: 20px !important;
    border-radius: 100%;
    position: absolute;
    left: -2px;
    top: -7px;
    z-index: 20;
}
.chat_view_file .chatbox2 .image,.chat_view_file .chatbox .image{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
}

.chat_view_file .mCSB_dragger_bar{
    margin-right: 0 !important;
}


.file_left_sec .heading{
    text-transform: capitalize;
    font-size: 18px;
    padding-bottom: 0;
}
.file_left_sec .image_box{
    background-color: #F4F4F4;
    border: 8px solid #fff;
    height: 140px;
    width: 160px;
    margin-bottom: 15px;
}
.file_left_sec .image_box.active{
    background-color: #DEDEDE;
    border-color: #B4B4B4;
}

.file_left_sec .image_box img {
  max-height: 125px;
}

.portfolio-items .slick-prev,.portfolio-items .slick-next{top: 0 !important;}
.pagin-one{
    top: 65px !important;
    left: 45% !important;
    z-index: 50;
}

.shadow-left{
    box-shadow: -2px 0px 10px 0px rgba(180, 180, 180,0.65);
}

/* css 7-5-2018 */
.portfolio-items ul.slick-dots {
  bottom: unset;
  top: -20px;
  opacity: 0;
}
.label.label-danger{background: #e52344 !important;}
.project_information_bx{margin: 0 !important;}
.status-detail .label.label-default{
    font-size: 14px;
    padding: 7px 15px;
}
.image_drafts{
    height: 40px;
    width: 40px;
}
.designer-name h6{
    padding-top: 2px;
    margin-right: 8px;
}
.designer-name span{
    position: relative;
    top: -5px;
}
.chatbtn-boxmain{
    margin: 0 -15px;
}
.chatbtn-boxmain .chatsendbtn{
    top: 0;
    right: -5px;
    z-index: 2;
    bottom: 0;
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.file_approve_dv .approve{
    width: 100%;
    background: none;
}
.image_row{
    max-height: 665px;
    overflow-y: scroll;
}

.plr0{
    padding-left: 0;
    padding-right: 0;
}
.chatsendbtn.send_request_chat.send{
    border: none;
    bottom: 0;
    padding: 18px 20px;
}

/*.table_draft_sec{max-width: 1000px; margin: 0 auto;}*/

/* image detail page */


/* design section css */
/* edit prifile page */
.profile_image_sec .design_text_bx{padding-top: 20px;}
.design_text_bx .text_span{color: #1a3147;}


.range-container {
  width: 100%;
  margin-bottom: 20px;
}
.range-container .text{
    padding-bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
    color: #1a3147;
}

.range {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 0;
}
.range input[type="range"] {
  display: inline-block;
  width: 100%;
  height: 10px;
  /*background: linear-gradient(to right, #ffc80a 0%, #90bf43 100%);*/
  background-color: #e52344;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}
.range input[type="range"]:focus {
  outline: none;
}
.range input[type="range"]:focus::-webkit-slider-thumb, .range input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
}
.range input[type="range"]::-webkit-slider-runnable-track, .range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
}
.range input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0 rgba(20, 75, 102, 0.15);
  position: relative;
  top:-5px;
  border: 3px solid #000;
}
.range input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0 rgba(20, 75, 102, 0.15);
  outline: none;
  position: relative;
  top:-5px;
  border: 3px solid #000;
}
.range input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0 rgba(20, 75, 102, 0.15);
  outline: none;
  position: relative;
  top:-5px;
  border: 3px solid #000;
}
.range input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, transparent calc(var(--value) * 1%), #d9d9d9 0);
  border-radius: 10px;
}
.range input[type="range"]::-moz-range-track {
  height: 10px;
  background: linear-gradient(to right, transparent calc(var(--value) * 1%), #d9d9d9 0);
  border-radius: 10px;
}
.range input[type="range"]::-ms-track {
  background: linear-gradient(90deg, #ffc80a 0%, #90bf43 100%);
  height: 10px;
}
.range input[type="range"]::-ms-fill-lower {
  background-color: HotPink;
}
.range input[type="range"]::-ms-fill-upper {
  background-color: black;
}

.range-box {
  position: absolute;
  bottom: calc(100% + 13px);
  left: 10px;
  width: 39px;
  height: 39px;
  margin: 0;
  line-height: 39px;
  border-radius: 50% 50% 0 50%;
  background-color: #90bf43;
  text-align: center;
  transform: rotate(45deg);
  display: none;
}

.range-counter {
  display: block;
  color: white;
  font-size: 10px;
  font-weight: 700;
  transform: rotate(-45deg);
}

.skill_section{
    min-height: 455px;
}
.skill_section .add_skill a{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e52344;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
}
/* edit prifile page */

/* complete page */
.design_complete p{
    padding-bottom: 0;
}
.design_complete .desc .small{
    font-size: 10px;
    line-height: 13px;
    color: #1a3147;
}
.design_complete .desc .queue{
    padding: 4px 10px 3px;
}
.design_complete .designer_assig{
    text-align: left;
    padding-top: 15px;
}
.design_complete .designer_assig .name{
    padding-top: 13px;
    font-size: 14px;
}
.design_complete .designer_assig .client{
    font-size: 10px;
    font-weight: normal;
}
.design_complete .notification{
    border: 1px solid #eceeef !important;    
    border-left: none !important;
}
.design_complete .table td{
    padding: 20px 10px;
}
.design_complete .completed span{margin-top: 21px;}
.design_complete .desc .projecttitle{padding-top: 5px;}
/* complete page */

/* approvel page */
.pending_approvel .completed span{
    margin-top: 0;
    font-size: 14px;
    color: #C7CFD6;
    line-height: 16px !important;
    display: block;
}
.pending_approvel .completed span:first-child{
    margin-top: 15px;
}
.design_complete .desc .queue.green{
    background: #3EC075;
}
/* approvel page */

/* in queue page */
.in_queue_sec .completed{
    border-left: 5px solid #A3A8AE;
}
.in_queue_sec .completed span{
    margin-top: 0;
    font-size: 14px;
    color: #C7CFD6;
    line-height: 16px !important;
    display: block;
}
.in_queue_sec .completed span:first-child{
    margin-top: 15px;
}
.in_queue_sec .desc .queue.green{
    background: #A3A8AE;
}
/* in queue page */

/* active page */
.pending_approvel .red .completed{
    border-left: 5px solid #e52344;
}
.design_complete .red .desc .queue.green{
    background: #e52344;
}
/* active page */

/* customers page css */
.customers_table_sec .image_dv{
    border-right: none;
    border-left: 10px solid #1a3147;
}
.customers_table_sec .image_dv .image_circle{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.customers_table_sec .desc .projecttitle{
    padding-top: 26px;
}
.customers_table_sec .requests .text{
    font-size: 14px;
    color: #B9B9B9;
    font-weight: bold;
    padding-top: 25px;
}
.customers_table_sec .requests .num{
    font-size: 14px;
    color: #1a3147;
    font-weight: bold;    
    padding-top: 5px;
}
.customers_table_sec .active_req{
    border-right: 1px solid #eceeef;
}

.content_title_dv{
    padding: 15px 0;
}
/* customers page css */

/* design draft page css */
.design_draft-title{
    padding-bottom: 5px;
}
.design_draft-title .designer-name{
    position: relative;
    top: -7px;
}

.info-left-div .chat-main,.design_msg_dv .chat-main{padding: 0;}
.design_msg_dv .chat-main h3{
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: none;
}
.design_msg_dv .send-msg-to{
    padding: 25px 0;
    border-top: 1px solid #eee;
}
.design_msg_dv .send-msg-to h5{
    font-size: 14px;
}
.design_msg_dv .chatbox .message-text-wrapper{
    display: block;
    width: 90%;
    margin-left: 10px;
    background-color: #ECF0F4;
    box-shadow: none;
}
.design_msg_dv .chatbox .message-text-wrapper:before{
    top:unset;
    bottom: 15%;
    background: none;
    border: 10px solid transparent;
    border-right-color: #ECF0F4;
    border-left-width: 0;
}
.design_msg_dv .chatbox .description{
    color: #9CA6B1;
}
.design_msg_dv .chatbox2 .message-text-wrapper:before{
    top: 15%;
}
.design_msg_dv .chatbox .posttime{
    text-align: left;
    color: #1a3147;
    padding-left: 15px;
}

.myscroller_div{
    border-bottom: 1px solid #eee;
}
.design_msg_dv .chatbtn-boxmain{position: relative;}
.design_msg_dv .chatbtn-boxmain .t_w{
    padding: 10px 15px;
    height: 55px;
    border: none !important;
    border-top: none !important;
}

.design_msg_dv .chatsendbtn.send_request_chat.send{
    border-radius: 0;
    bottom: 0;
    top: 0;
}

.design_bot_dv .designer-name{
    margin-top: 8px;
}
.attachments_dv{margin-top: 30px;}
.attachments_dv h4{margin-bottom: 20px;}
/* design draft page css */

/* qa css*/
.design_complete table .designer_des,.pending_approvel table .designer_des{
    padding: 10px 0;
}
.design_complete .designer_des .des,.pending_approvel .designer_des .des{
    padding: 15px 10px 25px;
}

.designer-name span.right{
    float: right;
    position: relative;
    top: 0;
}

.file_approve_dv .red{
    text-transform: uppercase;
    color: #e52344;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

.qa_client_table.customers_table_sec .requests .text{
    font-size: 16px;
}
.qa_client_table.customers_table_sec .requests .num{
    font-size: 15px;
}
.customers_table_sec .image_dv1{
    border-right: none;
    border-left: 1px solid #eceeef;
}

.portfolio_bx{
    padding:15px 15px 0;
    border: 1px solid #EDEDED;
    transition:all 0.3s ease-in-out;
}
.portfolio_bx:hover,.portfolio_bx:focus{
    box-shadow: 0 0 25px rgba(0,0,0, 0.3);
}
.portfolio_bx h5{
    padding: 5px 0;
    text-transform: uppercase;
    line-height: 24px;
}
.portfolio_bx .desc{
    font-weight: normal;
    line-height: 18px;
    font-size: 14px;
}

.portfolio_bx .fa-trash{
    font-size: 19px;
    position: relative;
    top: 2px;
}
/* qa css*/


/* admin css */
.add_custom_btn{
    border: 2px solid #E52344;
    background-color: #fff;
    color: #E52344;
    padding: 5px 15px;
    text-transform: uppercase;
}
.admin_client_table .requests.text-left{text-align: left !important;}

.blog_container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.portfolio_bx .greybackground img{
    height: 210px;
    object-fit: cover;
}
.portfolio_bx p.greytext{
    font-size: 16px;
    line-height: 20px;
}
.portfolio_bx h5.date{
    font-size: 15px;
    padding: 5px 0;
}
.portfolio_bx .edit{
    display:inline-block;
    float: right;
    margin-right: 10px;
    padding: 5px 0;
}
.portfolio_bx .delete{
    top: 4px;
}
.portfolio_bx .edit{
    font-size: 14px !important;
}
.portfolio_bx .edit a{
    text-decoration: none;
    color: #9DA0A2;
    font-weight: bold;    
}

.portfolio_bx h5.portfolio_title{
    font-size: 16px;
}

#imagePreview, #imagePreview1, #imagePreview2, #imagePreview3{
    min-height: 205px;
    width: 100%;
    max-width: 205px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image_upload_dv{
    position: relative;
}
.image_upload_dv input{display: none;}
.image_upload_dv label{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.blog_pop_dv textarea{
    min-height: 120px;
}
/* admin css */

/* ui fixes */
.newproject_btn{
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: bold;    
    background: #e52344;
    margin-right: 15px;
    text-decoration: none !important;
}

.empty_view_request{
    background:#ECF0F4;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom: 15px !important;
    height: 480px;
}
.empty_view_request .files-box{
    font-size: 21px;
}
/* ui fixes */


/* responsive */
@media (min-width: 992px){
    .table_draft_sec .desc{width: 50%;}
    .table_draft_sec .notification{width: 12%;}
    .table_draft_sec .greybackground{width: 70px;}
    .table_draft_complete .completed{width: 100px;}
    .nav-tab-pills-image.mytab .nav-tabs{padding-left: 7%;}
    .design_complete .desc{width: 65%;}
    .design_complete .desc_qa,.pending_approvel .desc_qa{width: 45%;}
    .admin_client_table .desc{width: 30%;}
}

@media (max-width: 1366px){
    .send-msg-to h5{font-size: 18px;}
    .add-new-project h5{font-size: 15px;}
}
@media (max-width: 1099px){
    .table_draft_sec .greybackground{padding: 0 !important;}
    .table_draft_sec .greybackground span{padding: 5px; font-size: 13px; word-break: break-all;display: inline-block;margin-top: 30px;}
    .table_draft_sec .update{width: 90px;}
    .table_draft_sec .update .edit{font-size: 18px;}
    .table_draft_sec .update .delete img{width: 15px !important; vertical-align: text-bottom;}
    .table_draft_sec .update span{margin-top: 25px;}
    .send-msg-to{}
    .send-msg-to img{float: none; display: block; margin: 0 0 10px;}
    .send-msg-to h5{float: none; margin-top: 0;}
}
@media (max-width: 991px){
    .table_draft_sec .desc{width: 40%;}
    .image_row{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .profile_icon_sec{margin-bottom: 25px;}
    .header-inner{height: auto;}
    .header-inner .col-md-1,.header-inner .col-md-10{width: 100%;}
    .header-inner-md-10 .dropdown #dropdownMenuButton{margin-top: 0;}
    .header-inner-md-10 .dropdown .btn-account{margin-top: 0;}
    .header-inner-md-10{margin-bottom: 10px;}
    .header-inner-md-10:after{content:''; clear: both; display: block;}
    .billing_subs_left{margin-bottom: 20px;}
}
@media (max-width: 770px){
    .table_draft_complete .completed span{font-size: 14px;}
    .table_draft_sec .desc{width: 35%;}
    .design_complete .desc_qa, .pending_approvel .desc_qa{width: 35%;}
}
@media (max-width: 767px){
    .header-inner-md-10 .col-sm-6{width: 100%; display: flex; justify-content: center; margin-bottom: 10px;}
    .header-inner{position: relative; z-index: 5;}
    .approve_reject_div3655{text-align: center;}
    input.weight600{margin: 0 auto !important; float: none !important;}
}
@media (max-width: 601px){
    .controll-scroll{height: 400px; width: 100%;}
    .attach_file_dv{display: block !important;}
    .table_draft_sec .greybackground{width: auto;}
    .table_draft_sec{overflow: scroll;}
    .table_draft_sec table.custom-table{min-width: 700px;}
    .admin_client_table table.custom-table{min-width: 750px;}
    .table_draft_sec .table td, .table_draft_sec .table th{width: auto !important;}    
    .design_complete .table .desc_qa, .pending_approvel .table .desc_qa{width: 35% !important;}
    .nav-tab-pills-image.mytab ul li .nav-link{padding: 10px 5px !important; font-size: 14px;}
}
@media (max-width: 415px){
    .billing_subs_right .update_subs{margin-left: 0;}
    .nav-tab-pills-image.mytab .nav-tabs .nav-item{width: 100%; margin-left: 0 !important;}
}
@media (max-width: 375px){
    .header-inner-md-10.navbar-right{width: 100%;}
    .header-inner-md-10 .dropdown{padding: 0;}
    .billing_subs_left, .billing_subs_right{padding: 15px 10px;}
    .pricingpackage .price{font-size: 50px !important;}
    .pricingpackage h4{font-size: 16px !important;}
    .pricingpackage li{font-size: 14px !important;}
    .pricingpackage{padding: 0 !important;}
}