@charset "UTF-8";
/*
  Theme Name: eStartup
  Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
  */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body { 
  background-color: #fff;
  color: #333;font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
img
{
  max-width: 100%;
}

h2 {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 0px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}
.logo{background: url("../img/lefi-img.jpg");height: 100vh;}
#about-2 .logo{padding-bottom: 750px;}


.logo img {
  padding: 15px 35px;
  width: 100%;
}

.right-sec3 h2 {
  padding: 25px 0 0;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}

.main-thanks {
  text-align: center;
}
a.gzthank {
  max-width: 255px;
  display: inline-block;
  margin: 20px auto;
}
input.select-selected.spec {
  background: none;
  border: 0;
}
.logo:before{
  content: '';
  background: url("../img/after-triangle.png");
  position: absolute;
  left: -39px;
  width: 61px;
  height: 71px;
  top: -11px;
  background-size: 100%;
}
.right-sec3 p {
  font-size: 18px;
  color: #353535;
  max-width: 730px;
  margin: auto;
}
.right-sec3 {
  max-width: 100%;
}
.describe-sec {
  margin:20px 0 17px;
}

.describe-sec h4 {
  font-size: 18px;
  color: #3a3a3a;
  font-weight: 400;
  text-transform: capitalize;  line-height: 29px;
  margin-bottom: 20px;
}
.right-sec3 form {
  background: #fff;
  box-shadow: 0 0 30px #ccc;
  padding:40px;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-top: 50px;
}
.sprit .describe-sec h4 {
  margin-bottom: 10px;
}
.words {
  background: #e82f4d;
  color: white;
  font-size: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 10px 0 0px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.describe-sec:last-child h4{display: block;}
.describe-sec h4 p.red-info {
  display: inline-block;
  font-size: 11px;
  color: #e82e4d;
  margin-bottom: 0;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  left: 20px;
  top: 27px;
}
.describe-sec form {
  margin: 19px 53px;    position: relative;
}
.describe-sec .validation {
  margin-top: 12px;
  color: #e82f4d;
}
.submit-btn {
  border: 2px solid #e82f4d;
  padding: 9px 62px;
  color: #ffffff;
  font-size: 22px;
  margin: 10px 0 10px;
  display: inline-block;
  font-weight: 500;
  transition: 0.6s;
  background: #ffff;
  border-radius: 50px;
  background: #e8304d;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
}
.submit-btn:hover{text-decoration: none; background-image: linear-gradient(to right, #D64151, #D64151, #D64151, #e2666e, #e67178);
  box-shadow: 0px 15px 18px 0px #EBEBEB; color: #fff}
  .describe-sec h4 span.words {
    display: none;
  }
  dl.dropdown {
   position: relative;
   display: inline-block;
   width: 100%;
   height: auto;
   padding: 0;
   line-height: 34px;
   color: #495057;
   vertical-align: middle;
   background-size: 8px 10px;
   border: 1px solid #d7d7d7;
   border-radius: 8px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   max-width: 300px;
   border: 1px solid #ced4da;
   margin-bottom: 0;
 }
 dl.dropdown dd {
  margin: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 999;
}
dl.dropdown .mutliSelect ul {
  list-style-type: none;
  padding: 0;
  width: 100%;    margin: 0;
}
p.multiSel span:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #ffffff;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
p.multiSel span:first-child{position: relative;}

dl.dropdown  .mutliSelect ul{
  border: 1px solid #ddd;
}
dl.dropdown .mutliSelect ul label input[type="checkbox"] {
  margin: 10px 8px 0px -7px;float: left;
}
dl.dropdown .mutliSelect ul label {
  display: block;
  margin: 0;font-size: 12px;
  font-weight: 600;    padding-left: 13px;
}
p.multiSel {
  font-size: 12px;
  font-weight: 600;    color: #4e4e4e;
  margin-bottom: 6px;
}
dl.dropdown .mutliSelect ul label:hover{
  background-color: rgb(232, 46, 77);
  color: #fff;
}
dl.dropdown a {
  width: 100%;
  padding:9px 15px;
  background: url("../front_end/Updated_Design/img/sign-nep.png") right center no-repeat;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-radius: 8px;
  font-size: 15px;
  color: #0f3148;
  font-weight: 500;
  display: block;
  text-decoration: none;
  line-height: 32px;
}
dl.dropdown p.multiSel {
  margin-bottom: 0;
}




/* about-2 */
.describe-sec ul li a {
  border: 1px solid #bcbcbc;
  padding: 2px 24px 2px 7px;
  display: inline-block;
  margin: 15px 0px 2px;
  font-size: 12px;
  color: #3a3a3a;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}
.describe-sec ul {
  display: inline-block;
  margin-left: 3px;
}
.describe-sec ul li:hover a{background: #e82f4e;color:white !important;    border: 1px solid #e82f4e;}
.active-2 a{background: #e82f4e;color:white !important;    border: 1px solid #e82f4e !important;}
.tick-icon {
  color: white;
}
.sprit .describe-sec ul {
  margin-bottom: 0;
}
.right-sec3-2{}

.right-sec3-2 p {
  font-size: 17px;
  color: #253858;
}
.right-sec3-2 {
  max-width: 100%;
  width: 940px;
  padding-left: 26px;
}


.right-sec3-2 h2 {
  font-size: 22px;
  color: #253858;
  padding: 45px 0 0;
  margin-bottom: 5px;
}
.right-sec3-2 h2:after{
  content: '';
  background: url("../img/after-triangle.png");
  position: absolute;
  right: 40px;
  width: 41px;
  height: 47px;
  top: 59px;
  background-size: 100%;
}




@media(max-width:1080px) {
  .logo img{max-width: 100%;width: 150px;}
}

@media(max-width:991px) {
  .logo img{max-width: 100%;width: 150px;}
  .describe-sec h4 {font-size: 14px;}
  .right-sec3 h2::after{right: 30px;top: 29px;}
  .right-sec3-2 h2::after{right: 30px;top: 29px;}
  .describe-sec form select{width: 100%;}
  .describe-sec form {margin: 19px 13px;}
  .describe-sec {margin: 12px 0 17px;}
  .right-sec3 form {
    max-width: 410px;
    margin: 40px auto;
  }
  .col-lg-12.submit-after.text-center {
    text-align: left;
  }
  .describe-sec h4 p.red-info {
    position: relative;
    left: 0;
    top: 0;
  }
  .right-sec3 h2 {
    font-size: 30px;
  }
  .right-sec3 p {
    font-size: 16px;
  }
}


@media(max-width:767px) {
  .describe-sec { margin: 12px 0 15px}
  .logo img {width: 80%;}
  .logo img {max-width: 100%;width: 150px;}
  

}

@media(max-width:564px) {
  .describe-sec ul{text-align: center;}
  .logo{text-align: center;padding: 15px 0 60px;background-position: center; height: auto;}
  .logo img {max-width: 100%;width: 150px;}
  .right-sec3-2{padding-left: 0;text-align: center;}
  .words{float: none;}
  .submit-btn {
    margin: 0px 0 0;
    float: left;
  }
}
